---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



/*============================================================
Colors
=============================================================*/
$light-grey:#f2f2f2;
$med-grey:#C2c2c2;
$dark-grey:#727272;
$black-grey:#414141;
$white:#ffffff;
$red:#E13B3B;
$yellow:#EFF249;
$orange:#EA960F;
.white-alpha8{
	background-color:rgba(255,255,255,.8);
}

/*============================================================
Borders
=============================================================*/
$border-solidify:1px solid;

html{
	border-bottom:0.5em $black-grey solid;
	min-height:100%;
	background-color:$white;
}

body{
	
	h1,h2,h3,h4,h5,h6,p,a{
		text-shadow:0 1px 0 $white;
	}
}

%th-border-bottom{
	border-bottom:$border-solidify;
}

%th-border-top{
	border-top:$border-solidify;
}

@mixin th-grey-border-bottom{
	border-color:$med-grey;
	@extend %th-border-bottom;
	box-shadow:inset 0 2px #f0f0f0;
}

@mixin th-grey-border-top{
	border-color:$med-grey;
	@extend %th-border-top;
	box-shadow:inset 0 2px #f0f0f0;
}

@mixin th-ltgrey-border-bottom{
	border-color:$light-grey;
	@extend %th-border-bottom;
	box-shadow:inset 0 2px #f0f0f0;
}

hr { 
	@include th-grey-border-top;
	height: 0; 
}

%white-shadow{
	text-shadow:0 1px 0 $white;
}

%light-shadow-top{
	box-shadow:0 0 2px 2px rgba(100,100,100,0.1);
}

@mixin gen-shadow($x-shad, $y-shad, $spread-shad, $feather-shad, $r, $g, $b, $alpha-shad){
	box-shadow:$x-shad $y-shad $spread-shad $feather-shad, rgba($r,$g,$b,$alpha-shad);
}

@mixin border-radius($radius){
	border-radius:$radius;
}


@mixin box($box: border-box){
	box-sizing:$box;
	-moz-box-sizing:$box;
	-webkit-box-sizing:$box;
}

%l-positioned{position: relative;}

@mixin l-float($direction){
	@extend %l-positioned;
	@include box;
	float:$direction;
}

@mixin l-float-l{
	@extend %l-positioned;
	@include box;
	float:left;
}

@mixin l-float-r{
	@extend %l-positioned;
	@include box;
	float:right;
}

.l-col-left{@include l-float(left);}

.l-col-right{@include l-float(right);}

.l-col-full{width:100%;}

.l-col-30{width:30%;}

.l-col-20{width:20%;}

.l-col-40{width:40%;}

.l-col-60{width:60%;}

.l-col-70{width:70%;}

.l-col-80{width:80%;}

.l-col-half{width:50%;}

.l-col-0{width:0;}

.l-cont-box{width:49.6%;}

.l-cont-box-full{width:100%;}

%l-absolute{position: absolute;}

%half-top{top:50%;}

%half-left{left:50%;}

@mixin center-custom($horiz, $vert){
	@extend %l-absolute;
	@extend %half-top;
	@extend %half-left;
	-webkit-transform: translate($horiz, $vert);
	-ms-transform: translate($horiz, $vert);
	transform: translate($horiz, $vert);
}

@mixin center-all-things{
	@extend %l-absolute;
	@extend %half-top;
	@extend %half-left;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin center-vert-only{
	@extend %l-absolute;
	@extend %half-top;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

@mixin center-horiz-only{
	@extend %l-absolute;
	@extend %half-left;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}


.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }

.l-cont-box,
.l-cont-box-full{
	@include l-float(left);
	//width defined in _layout.scss
	// height:250px;
	margin:0.2%;
	overflow:hidden;

	blockquote{
		@include center-all-things;
		width:75%;
		line-height:160%;
	}
}

.l-cont-box-work{
	@include l-float(left);
	margin:0.2%;
	overflow:hidden;
}

.l-cont-box{
	padding:1em;
	background:$light-grey;
}

@media all and (max-width: 640px){
	
	.l-cont-box{
		width:100%;
	}

	.resize-hide{
		display:none;
	}
}

