figure pre, figure pre code, pre, pre code, code{
	background: $black-grey;
	color: $med-grey;
}

pre code,
figure pre{
	display: block;
	padding: 16px;
	span{display: inline;}
	span.prompt{
		color: $orange;
	}
	span.comment{
		color: $med-grey;
	}
}