%clearfix {
    &:after, &:before {
        content: "";
        display: table;
        clear: both;
    }
}
.clearfix{
	@extend %clearfix;
}
%hide-text{
	text-indent: 1000%;
	white-space: nowrap;
	overflow: hidden;
}
%is-visually-hidden{
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0; 
}
@mixin is-visually-hidden{
	@extend %is-visually-hidden;
}
%ease{
	transition:.2s all ease;
}
@mixin ease{
	@extend %ease;
}
.ease{
	transition:.2s all ease;
}