/*=============================================================================
CREDITS 
Christan Fergus copyright 2013
Reset & Basics (Inspired by E. Meyers)
=============================================================================*/
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, del, dfn, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,  ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;		
		vertical-align: baseline; 
   		display:block;
	}
	html{
	    -webkit-text-size-adjust: 100%; /* 2 */
	    -ms-text-size-adjust: 100%; /* 2 */
	}
	html, body{
		height:100%;
		width: 100%;
		overflow: auto;
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

	audio,canvas,video {
	    display: inline-block;
	    *display: inline;
	    *zoom: 1;
	}
	em{
		display:inline-block;
	}
	/**
	 * Prevent modern browsers from displaying `audio` without controls.
	 * Remove excess height in iOS 5 devices.
	 */
	audio:not([controls]) {
	    display: none;
	    height: 0;
	}
	[hidden] {
	    display: none;
	}
	::-moz-selection{ background: #EFF249; color:#444; text-shadow: none; }
	::selection { background:#EFF249; color:#444; text-shadow: none; } 
/* #Links
================================================== */
	a, a:visited { color: inherit; text-decoration: none; }
	p a, p a:visited { line-height: inherit; }
/* #Lists
================================================== */
	// ol { list-style: decimal inside; padding: 0;}
	// ul.square { list-style: square inside; }
	// ul.circle { list-style: circle inside; }
	// ul.disc { list-style: disc inside; }
	// //For Firefox to display the list images
	// ul.squre li, ul.circle li, ul.disc li{display:list-item}
/* #Images
================================================== */
	img.scale-with-grid {
		max-width: 100%;
		height: auto; }
/* #Misc
================================================== */
	/**
	 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
	 * 2. Improve image quality when scaled in IE 7.
	 */
	img {border: 0; /* 1 */-ms-interpolation-mode: bicubic; /* 2 */
	}
	/**
	 * Correct overflow displayed oddly in IE 9.
	 */
	svg:not(:root) {overflow: hidden;}

	figure {margin: 0;}

	table {border-collapse: collapse;border-spacing: 0;
	}
// *{
// 	@include layout-labels;
// }