footer.website-footer{
	@include l-float(left);
	background: $black-grey;
	// border-top: 1em solid $med-grey;
	width: 100%;
	overflow: auto;
	color: $yellow;

	div.footer-inner-wrap{
		width: 80%;
		overflow: auto;
		margin: 0 0 0 20%;
		padding: 2em;
		@include l-float(left);

		
		h2{
			margin:0 0 16px 0;
		}

		ul.social-media-list{
			@extend .l-col-left;	
			width: 100%;

			li{
				width: 25%;
				margin-bottom: $ms-0;
				color: $green;
				float: left;

				&:nth-of-type(odd){
					clear: left;
				}
			}

				}

		.soc-icon{
			@include l-float(left);
			margin-right:2%;
		}

		.icon-soc-twitter{
			@include social-icon(0 0);

			&:hover{
				background-position:-48px 0 !important;
			}
		}

		.icon-soc-fb{
			@include social-icon(-96px 0);
			
			&:hover{
				background-position:-144px 0 !important;
			}
		}

		.icon-soc-in{
			@include social-icon(-192px 0);
			
			&:hover{
				background-position:-240px 0 !important;
			}
		}
	}
}
.current-status{
	font-size: $ms-0;
}
.footer-underlined{
	@include underlined-colors($uc-set-mask: $black-grey, $uc-set-underline: $yellow);
}

@media all and (max-width: 450px){
	ul.social-media-list{
		li{
			width: 100% !important;
		}
	}
}

@media all and (min-width: 451px) and (max-width: 850px){
	ul.social-media-list{
		li{
			width: 50% !important;
		}
	}
}

@media all and (max-width: 940px){
	div.footer-inner-wrap{
		width: 100% !important;
		margin: 0 !important;
		padding: 2em;		
	}
}