.post-list{
	list-style-type: none;
	li{
		margin-bottom: 16px;
		ul{
			margin-left: 1em;
		}
	}
	.category-title{
		color: $blue;
		text-transform: capitalize;
	}
}
.post{
	padding: 0 2em 2em 2em;
	font-size: 16px;
	overflow: auto;
}
.post-header{
	@extend %l-float-l;
	@extend .l-col-full;
	margin: 0 0 2em 0;
	padding-top: 8px;
	h1{
		margin: 0;
	}
}
.post-meta{
	font-size: $ms-0;
	margin: 0;
	color: $green;
}
.post-footer{
	margin: 2em 0;
	border-top: 1px solid $med-grey;
	@include l-float(left);
	width: 100%;
	overflow: auto;
}
.post-article .post-content{
	@extend .l-col-full;
	a {
		text-decoration: underline;
	}
	ul, ol{
		line-height: 1.4;
		list-style-position: inside;
		font-size: 21px;
	}
	p > a{
		text-decoration: underline;
	}
	p + p {
		margin-top: 16px;
	}
	p + ul,
	p + ol{
		margin-top: 16px;
	}
	ul li > ul{
		padding-left: 1em;
		li{
			font-size: inherit;
			list-style-type: inherit;
			list-style-type: inherit;
		}
	}
	img.post-image{
		border: 1px dashed $med-grey;
		padding: $ms--2;
		max-width: 100%;
		margin: $ms-0 auto;
	}
	li a{
		display: inline;
	}
	figure{
		padding: $ms-3 0;
		img, code, pre{
			margin: 0 auto;
			display: block;
			max-width: 100%;
		}
		figcaption{
			font-style: italic;
			color: $dark-grey;
		}
		figcaption{
			margin-top: $ms--1;
		}
	}
}
.slider{
	margin: $ms-0 0;
}
.pulled-blockquote{
	position: fixed;
	top: 50%;
	transform: translate-y(-50%);
	right: 0;
	max-width: 30%;
	font-size: $ms-0;
	background: lighten($orange, 20%);
	padding: 16px;
	border-right: 60px solid $orange;
	z-index: 9999;
}

.comments-wrap{
	overflow: hidden;
	margin-top: 50px;
	border-top: 1px solid $yellow;
}

@media all and (max-width: 960px){
	.post{
		padding: 2em;
	}
	.pulled-blockquote{
		display: none;
	}
}

@media all and (min-width: 1120px) and (max-width: 1380px){
	.post-content{
		max-width: 80%;
	}
}

@media all and (min-width: 1381px){
	.post-content{
		max-width: 760px;
	}
}

@media all and (min-width: 960px) and (max-width: 1420px){
	.pulled-blockquote{
		transform: translate-y(-50%);
		left: 0;
		max-width: 20%;
		font-size: $ms-0;
		background: lighten($orange, 20%);
		padding: 7px;
		border-left: 7px solid $orange;
		border-right: none;
	}
}

@media all and (min-width: 1421px) and (max-width: 1620px){
	.pulled-blockquote{
		right: 0;
		max-width: 20%;
		padding: 7px;
		border-right: 21px solid $orange;
	}
}