.work{
	float: left;
	@extend .l-col-full;
	padding: 0 2em 2em 2em;
	font-size: 16px;
	overflow: auto;
}

.work-header{
	@extend %l-float-l;
	@extend .l-col-full;
	padding-top: 8px;

	h1{
		margin: 0;
	}
}

.work-footer{
	margin: 2em 0;
	border-top: 1px solid $med-grey;
	@include l-float(left);
	width: 100%;
	overflow: auto;
}

.example-work-wrap{
	@extend %l-float-l;
	width: 80%;
}

aside.side-info{
	width: 20%;
	float: right;
	border-left: 1px solid $green;
	padding-left: 9px;

	h3{
		margin-bottom: 12px;
	}
}

@media all and (max-width: 960px){
	.work{
		padding: 2em;
	}
}

@media all and (max-width: 1330px){
	.example-work-wrap{
		width: 100%;
	}

	aside.side-info{
		width: 100%;
		float: left;
	}
}