---
layout: article
title: Work
permalink: /case-studies/
navpage: true
major-category: Doing the Diligent
---
<ul class="articles-landing--list">
    {% for post in site.posts %}
    {% if post.major-category == 'Case Study' %}
    <li>
        <a href="{{ post.url }}"> 
            <small class="text--all-caps">{{post.date | date: "%Y"}} | {{ post.major-category}}</small>
            <h2 class="article-list--heading">{{ post.title }}</h2>
            <p>{{post.subtitle}}</p>
        </a>
    </li>
    {% endif %} 
    {% endfor %}
</ul>