---
layout: default
title: landing
---
<div class="container front-page">
    <div class="item-2 lede">
        <h1>{{ site.author }}</h1>
        <p class="subtitle">User Experience Strategist</p>
    </div>
    <div class="item-3">
        <h2>It's About People</h2>
        <blockquote>
            <p>As a leader in advocating for human beings, I bring empathy into product design, use the stories found in data to drive product direction, & craft meaningful designs that provide those humans with what they need to accomplish their tasks.</p>
        </blockquote>
    </div>
    <div class="item-3-image">
        <!-- <img src="https://res.cloudinary.com/fergd/image/upload/v1552244671/fergdblog/people.png" class="img-people" alt=""> -->
    </div>
    <div class="item-4">
        <h2>I'm About</h2>
        <ul class="outside">
            <li>Discovering &amp; acting upon the right combination of business & user needs
            <li>Creating software that is accessible to all</li>
            <li>Enabling real people to accomplish their real tasks</li>
            <li>Educating software &amp; product professionals in the importance of designing &amp; developing for people</li>
        </ul>
    </div>
    <div class="item-4-image">
        <!-- <img src="https://res.cloudinary.com/fergd/image/upload/v1552244671/fergdblog/usable.png" class="img-results" alt=""> -->
    </div>
    <div class="item-5 lede">
        <h2>See for Yourself</h2>
        <div>
            {% for page in site.pages %} 
            {% if page.navpage %} 
            <a href="{{page.permalink}}">{{page.title}}</a>
            {% endif %} 
            {% endfor %} 
            <a href="{{site.linkedin}}">LinkedIn</a>
        </div>
    </div>
</div>