---
title: Resume
layout: resume-layout
sort-order: 4
permalink: /resume/
navpage: true
---

<section class="resume-intro">
    <div class="r-name lede">
        <hr class="accent">
        <h1>{{ site.author }}</h1>
        <p class="label">{{site.current-title}}</p>
        <hr class="accent">
    </div>
    <div class="r-quote">
        <blockquote>
            <p>As a leader in advocating for human beings, I bring empathy into product design, use the stories found in data to drive product direction, and craft meaningful designs that provide those humans with what they need to accomplish their tasks.</p>
        </blockquote>
    </div>
    <div class="r-links">
        <h4>Links &amp; Downloads</h4>
        <ul class="hide-bullets resume-links">
            <li><a id="resume-link" href="{{ site.resume }}" download="Christan-Fergus-Resume.pdf" class="no-wrapping cta"><i class="icon icon-dl" aria-hidden="true"></i> PDF Resume</a></li>
            <li><a href="https://www.linkedin.com/in/christanfergus/" target="_blank" class="no-wrapping"><i class="icon icon-li" aria-describedby="a11y-linkedin" aria-hidden="true"></i>&nbsp;Get in touch via LinkedIn&nbsp;<i class="icon icon-external" aria-hidden="true"></i><span class="visually-hidden" aria-hidden="true" id="a11y-linkedin">(opens in a new window)</span></a></li>
            <li><a href="mailto:{{site.email}}" class="no-wrapping"><i class="icon icon-envelope"></i>&nbsp;christan.fergUX@gmail.com</a></li>
        </ul>
    </div>
</section>
{% include resume--job-history.html %}
{% include resume--ed-history.html %}