<div class="article-header-container">
    {% if page.major-category %} 
    <p class="label">{{page.major-category}}</p>
    {% endif %} 
    <h1 {% if page.shrink-heading == true %}class="shrink-heading"{% endif %}  >{{page.title}}</h1>
    <p class="authorship">
    {% if page.author %} 
    {{page.author}}
    {% endif %} 
    {% if page.author && page.date %}&bull;{%endif%}
    {% if page.date %} 
    {{page.date | date: "%Y"}}
    {% endif %} 
    </p>
    {% if page.purpose %} 
    <p>{{page.purpose}}</p>
    {% endif %} 
    <hr>
    {% if page.role %} 
    <p class="">Role: {{page.role}}</p>
    {% endif %} 
    {% if page.header-image %} 
    <div class="stick-em">
    <img srcset="{{page.header-image-320w}} 400w,
                 {{page.header-image-480w}} 600w,
                 {{page.header-image-800w}} 768w,
                 {{page.header-image}} 1024w" 
                 src="{{page.header-image}}" alt="{{page.header-image-alt}}"
                 class="article--header-image">
             </div>
    {% endif %} 
</div>