<div>
    {% if page.major-category %} 
    <p class="subtitle text--all-caps">{{page.major-category}}</p>
    {% endif %} 
    <h1>{{page.title}}</h1>
    {% if page.author %} 
    <p>{{page.author}}</p>
    {% endif %} 
    {% if page.purpose %} 
    <p>{{page.purpose}}</p>
    {% endif %} 
    <hr>
    {% if page.date %} 
    <small>Published {{page.date | date: "%Y"}}</small>
    {% endif %} 
    {% if page.role %} 
    <p class="text--all-caps">Role: {{page.role}}</p>
    {% endif %} 
    {% if page.header-image %} 
    <img srcset="{{page.header-image-320w}} 400w,
                 {{page.header-image-480w}} 600w,
                 {{page.header-image-800w}} 768w,
                 {{page.header-image}} 1024w" 
                 
                 src="{{page.header-image}}" alt="{{page.header-image-alt}}"
                 class="article--header-image">
    {% endif %} 
</div>