{% assign case = site.data.case_studies | where: "title", page.title | first %}

<div>
    <h2>Project Snapshot</h2>
    <ul>
      <li><strong>Role:</strong> {{ case.role }}</li>
      <li><strong>Team:</strong> {{ case.team }}</li>
      <li><strong>Challenge:</strong> {{ case.challenge }}</li>
      <li><strong>Solution:</strong> {{case.solution }}</li> 
    </ul>

    <h2>Approach</h2>
    <ul>
      {% for approach in case.approach %}
      <li>{{approach}}</li>
      {% endfor %}
    </ul>

    <h2>Execution</h2>
    <h3>Tools</h3>
    <ul class="execution_tools_item">
      {%for tool in case.technical_execution.tools%}
      <li>{{tool}}</li>
      {%endfor%}
    </ul>

    <h3>Key Features</h3>
    <ul>
      {% for feature in case.technical_execution.key_features %}
      <li>{{feature}}</li>
      {% endfor %}
    </ul>


    <h2>Impact</h2>
    <ul>
      {% for impact in case.impact %}
        <li>{{ impact }}</li>
      {% endfor %}
    </ul>

    <h3>Outcomes</h3>
    <ul>
      {% for outcome in case.outcomes %}
      <li>{{outcome}}</li>
      {%endfor%}
    </ul>


    {% if case.images %}
    <div class="flex-group case-images test">
      {% for image in case.images %}
        <figure {%if image.small %}class="image-small"{%endif%}>
          <img src="{{ image.url }}" alt="{{ image.alt }}" />
          {% if image.caption %}<figcaption>{{ image.caption }}</figcaption>{% endif %}
        </figure>
      {% endfor %}
    </div>
    {% endif %}
 
</div>