<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="theme-color" content="#2a323e"/>
	<title>{{ site.title }}</title>
	<link rel="manifest" href="{{ site.baseurl }}manifest.json">
	<link rel="stylesheet" href="{{ site.css-dir | prepend: site.baseurl }}main.css?v={{site.data.changelog-data[0].num}}" media="(min-width: 320px)">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Raleway:600,900" rel="stylesheet"> 
</head>