<button id="nav-toggle" class="nav-toggle link-button" aria-expanded="false" aria-controls="primary-nav">☰</button>
<div class="header-nav-wrapper">
    <header class="site-header">
        <a href="/">
            <h1>Christan Fergus</h1>
        </a>
    </header>
    {% capture 'current' %}{{page.parent}}{% endcapture %}
    <nav id="primary-nav" class="primary-nav" aria-label="Main Menu">
        {% assign view = site.pages | sort: 'sort-order' %}
        {% for item in view %}
        {% if item.navpage %}
        <div class="nav-item {% if item.url == page.url or item.group == {{current}} %}current{% endif %}">
            <a href="{{item.permalink}}" {% if item.url==page.url or item.group=={{current}} %}class="current" aria-label="Current page: {{page.title}}" {% endif %}>{{item.title}}</a>
        </div>
        {% endif %}
        {% endfor %}
        <div class="nav-item">
            <a href="https://www.linkedin.com/in/christanfergus" target="_blank">LinkedIn</a>
        </div>
    </nav>
</div>