<div class="nav-col l-col-left off-canvas-navigation column" role="navigation">
	<div class="mast l-col-left l-col-full">
		<h1><a href="{{ site.baseurl }}/">Christan Fergus</a></h1>
	</div>
	<nav class="l-col-left l-col-full">
		<h2 class="hide-text">Navigation</h2>
		<ul>
			<li class="home-respond"><a href="/">Home</a></li>
			<li><a href="{{ site.baseurl }}/work.html">Work Samples</a></li>
			{% for page in site.pages %}
			{% if page.title %}
			<li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
			{% endif %}
			{% endfor %}
		</ul>
	</nav>
</div>