<div class="container__logo">
    <a href="{{site.baseurl}}">
        <h1>CF</h1>
    </a>
    {% if is_footer == true %}
    <span><small>&copy;<script>document.write(new Date().getFullYear())</script></small></span>
    {% endif %} 
</div>
<nav>
    {% for page in site.pages %}
    {% if page.navpage %}
    <a href="{{page.permalink}}">{{page.title}}</a>
    {% endif %}
    {% endfor %}
    {% if is_footer == true %}
    <a href="{{site.linkedin}}" target="_blank"><i class="fab fa-linkedin"></i> Contact</a>
    {% endif %} 
</nav>