/*--CORE--*/
@import 
	"core/reset", 
	"core/base", 
	"core/helpers", 
	"core/icons", 
	"core/theme", 
	"core/typography", 
	"core/layout", 
	"core/animation";

/*--Specific Modules--*/
@import 
	"modules/media_queries", 
	"modules/header", 
	"modules/footer", 
	"modules/navigation", 
	"modules/index", 
	"modules/base_work", 
	"modules/base_profile", 
	"modules/cv";

body{
	padding:0 1em;
	color: $black-grey;
	min-width:270px;
	overflow-x:hidden;
}

.page-wrap{
	min-height:100%;
}

p a{display:inline !important;}

.icn-menu-36,
.icn-menu-36-right,
.icn-menu-36-left{
	display:none;
}

[role="navigation"],
[role="main"]{
	transition:.2s all ease;
}

[role="navigation"]{
	@extend .l-col-30;
}

[role="main"]{
	@extend .l-col-70;
}

.main-nav-shadow{
	background:url(/img/vertical-right-shadow.png) left repeat-y;
}

/*====================================================================================================
Compilation of styles inside all media queries
====================================================================================================*/

@media all and (max-width: 960px){
	.home-respond{
		display:block !important;
	}

	.icn-menu-36,
	.icn-menu-36-right,
	.icn-menu-36-left{
		display:block;
		position:absolute;
		top:0.5em;
		left:1em;
		cursor:pointer;
		z-index:1000;
	}

	[role="navigation"]{
		margin-left: -100%;
		float: left;

		nav{display:none !important;}
	}

	[role="main"]{
		margin-left: 0;
		float: left;
		width:100%;
	}

	.active-nav [role="navigation"] {	
		margin-left: 0;	
		width: 30%;

		nav{display:inline-block !important;}
	}

	.active-nav [role="main"]{
		margin-right: -100%;
	}

}

@media all and (max-width: 680px){
	.active-nav [role="navigation"] {	
		margin-left: 0;	
		width: 50%;
	}
}

