*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@import 
	"core/reset", 
	"core/base", 
	"core/helpers", 
	"core/icons", 
	"core/theme", 
	"core/typography", 
	"core/layout", 
	"core/animation"
;
@import 
	"modules/off_canvas",
	"modules/media_queries", 
	"modules/header", 
	"modules/footer", 
	"modules/navigation", 
	"modules/index", 
	"modules/base_work", 
	"modules/base_profile", 
	"modules/cv",
	"modules/buttons"
;
@import 
	"pages/base_pages"
;

body{
	color: $black-grey;
	overflow-x: hidden;
}

.page-wrap{
	height: auto;
	@extend %l-float-l;
	@extend .l-col-full;
	@extend %clearfix;
}

p a{display:inline !important;}
