.work-page{
	z-index:1001;

	.icn-close-36{
		display:none;
		position: absolute;
		right:0.5em;
		top:2em;
		z-index:20000;
		cursor:pointer;
	}
}
.work{	
	height:250px ;

	figure.work-thumb{
		@include box;
		@include l-float-l;
		width:100%;
		height:100%;
		cursor:pointer;
		padding:1em;
		@include bg-col-trans(0.5s);

		&:after,&:before{
			content:'';
			@include bg-col-trans(0.5s);
		}

		&:hover:after{
			content:'';
			position:absolute;
			@include center-all-things;
			width:95%;
			height:95%;
			background:$yellow;
			opacity:.5;

		}

		&:hover:before{
			content:'';
			@include center-all-things;
			@extend .icn-mag-glass-24;
			position:absolute;
			z-index:1000;
			width:24px;
			height:24px;
		}

		img{
			@include center-all-things;
			max-width:55%;
			display:block;
		}
	}
}

.work-page{
	figure figcaption,
	h2{
		position: absolute;
		z-index:2000;
		padding:0.5em;
		@extend .white-alpha8;
	}

	h2{
		font-size:1.5em;
		top:0.5em;
		left:0.5em;
	}

	figure figcaption{
		font-size:1em;
		bottom:-0.5%;
		left:-0.5%;
	}
}

.work-examples{
	padding:1em 0;

	.work-examples-text{
		padding-right:1em;
		
		p{
			line-height:1.4em;

			span{
				display:inline;
			}
		}

		h3,
		a.back-to-work{
			margin-top:8%;
		}

		h3{
			font-family:$sofia-regular;
		}
	}

	.l-cont-box-work{
		@include box;
		width:100%;
		padding:0 4% 0 0;
		margin-bottom:15%;
		text-align:center;

		&:last-child{
			margin-bottom:0;
		}

		img{
			display:inline-block;
			max-width:90%;
		}
	}
}

a.back-to-work{
	height:50px;
	padding:0 4%;
	line-height:3em;
	display:inline-block;
	vertical-align: middle;
	text-align:center;
	margin-top:5%;
	background:$light-grey;
	@include bg-col-trans(0.5s);

	&:hover{
		background:$yellow;
		text-shadow:none;
		color:$dark-grey;
	}

	span{
		float:left;
		margin:0 2% 0 0;
	}
}

%tag{
	@extend %white-shadow;
	background:$light-grey;
	padding:0 0.5em;
	display:inline-block;
	float:left;
	vertical-align:middle;
	line-height:2em;
}

.tag{
	margin-right:3%;
	margin-bottom:3%;
}

ul.tags{
	@include l-float-l;
	@extend .l-col-full;
	margin-top:1em;

	li{
		@include l-float-l;
		@extend %tag;
		height:2em;
		margin-right:3%;
		margin-bottom:3%;
		white-space: nowrap;
	}
}

/*=====================================================================
Work Content Pages
=====================================================================*/
.copy-content{
	padding-top:1em;

	h1,h2,h3{ width:100%;}
	h1{	margin:0 0 1em 0;}
	h2{	margin:0 0 0.5em 0;}

	h3{	margin:0;}

	p{
		display:inline-block;
		margin:0 0 1.3em 0;
		position: relative;
		float:left;
		line-height: 1.4em;

		span{
			display:inline;
		}

		strong{
			display:inline !important;
		}

		a{
			display:inline;
			color:$orange;
			outline:none;

			&:hover{
				text-decoration:underline;
			}
		}

	}
}
/*=====================================================================
Door To Door Organics Work
=====================================================================*/
.dtdo-content.copy-content{
	padding-top:0;
}

.dtdo-content{

	.slider{
		margin-bottom:1em;
		background:$dark-grey;
	}
	
	p.bjqs-caption{
		display:block;
		width:96%;
		margin:0;
		padding:3%;
		position:absolute;
		bottom:0; 
		background:rgba(0,0,0,0.5);
		color:$white;
		text-shadow:none; 
	}

	.section-title{
		background:$dark-grey url(/img/black_thread.png);
		color:$white;
		text-shadow:none;
		padding:1em 0;
		text-indent:16px;
	}

	ul.content-list{
		display:inline-block;
		margin:0 0 1.3em 0;
		float:left;
		width:100%;

		li{
			position: relative;
			line-height:22px;
			width:100%;
		}
	}
}

aside.side-info{
	@include box;
	padding-left:1.5em;

	h2{
		margin-top:26px;
	}

	blockquote{
		@include box;
		background:$light-grey;
		padding:1em;
		margin:34px 0 0 0;

		&:nth-of-type(2){
			margin:1em 0 0 0;
		}
	}

}

/*=====================================================================
Fresh Designs Work
=====================================================================*/
.tech-aside{
	margin-top:2em;
}

/*=====================================================================
Beer Work
=====================================================================*/
.beer-content{

	figure.l-cont-box{
		height:300px;

		img{
			@include center-custom(-50%, -50%);
			max-height:100%;
		}
	}
}

@media all and (min-width: 1400px){
	.work-page{
		.work.l-cont-box{
			height:400px;

			figure{
				img{
					max-width:65%;
				}
			}
		}
	}
}

@media all and (max-width: 1024px){

	.work-examples-text.l-col-half{
		width:100%;
	}

	.l-col-half{
		width:100%;
	}

	.dtdo-case-studies.l-col-60{
		width:100% !important;
	}

	.case-study-1-aside{
		display:none;
	}
}

@media all and (max-width: 760px){
	.dtdo-content{
			
		.section-title{
			left:0;
			text-align:left;
		}
	}
}

@media all and (max-width: 768px){
	.l-col-60,
	.l-col-40{
		width:100%;
	}

	aside.side-info{
		padding-left:0;
	}
}

@media all and (max-width: 450px){
	
	.work-page{
		.work.l-cont-box{
			figure{
				img{
					min-width:75%;
				}
			}
		}
	}

	.beer-content{

		figure.l-cont-box{
			height:200px;
		}
	}

	section.work-page{
		
		article.work{
			margin:0.5em 0;
		}
	}
}