.button{
	height: 50px;
	padding: 0 4%;
	
	background: $yellow;
	transition: background-color 0.5s ease; 

	font-family: $sofia-bold;
	line-height: 50px;
	font-size: 21px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;

	&:hover,
	&:active{
		background: $black-grey;
		color: $yellow;
	}
}