footer{
	@include l-float(left);
	border-top: 3em solid $yellow;
	width: 100%;
	overflow: auto;

	div.footer-inner-wrap{
		width: 80%;
		overflow: auto;
		margin: 0 0 0 20%;
	}

	div.footer-inner-wrap > div{
		@include l-float(left);
		width: 33.33%;
		padding: 1em;
		
		h2{
			margin:0 0 1em 0;
		}

		.soc-icon{
			@include l-float(left);
			margin-right:2%;
		}

		.icon-soc-twitter{
			@include social-icon(0 0);

			&:hover{
				background-position:-48px 0 !important;
			}
		}

		.icon-soc-fb{
			@include social-icon(-96px 0);
			
			&:hover{
				background-position:-144px 0 !important;
			}
		}

		.icon-soc-in{
			@include social-icon(-192px 0);
			
			&:hover{
				background-position:-240px 0 !important;
			}
		}
	}
}

@media all and (max-width: 940px){
	
	footer{

		div.footer-social{
			padding:5% 0;

			&:first-of-type{
				width:40%;
			}
		}
	}
}

@media all and (max-width: 768px){
	footer{

		div.footer-social{

			&:first-of-type{
				width:50%;
			}
		}
	}
}

@media all and (max-width:440px){

	footer{

		div.footer-social{

			&:first-of-type{
				width:100%;
			}
		}
	}
}