.home{
	height:300%;
}

.title-logo{
	@include th-grey-border-bottom;
	height:8em;

	h3{
		@include center-vert-only;
		right:0;
		line-height:36px;

		span.icn-logo-36{
			margin-left:0.5em;
		}

		span:first-of-type{
			font-family:$sofia-bold;
			margin-right:0.5em;
		}
	}
}



.big-square-lead{
	padding:1em 0;
	position: relative;

	div{
		margin:5% 1.5% 5% 1.5%;

		span{
			margin:2% 0 5% 0;
			position: relative;
			left:50%;
			margin-left:-24px;
		}

		h2{
			width:100%;
			text-align:center;
		}

		p{
			line-height:24px;
		}
	}

	.back-to-work{
		position: relative;
		margin:0;
	}
}

.secondary-info{
	padding:1em 0;
	position: relative;
}

@media all and (max-width: 768px){
	.big-square-lead{
		div{
			margin:1%;

			&.l-col-30{
				width:100%;
			}
		}
	}

}

@media all and (min-width: 940px){
	
	h3{
		span:first-of-type{
			display:none;
		}
	}
}

@media all and (max-width: 480px){

	.title-logo{

		h3{
			width:100%;
			text-align: right;


			span:first-of-type{
				font-size:1.3em;
				width:100%;
				display:inline-block;
			}

			span:nth-of-type(2){
				width:100%;
				display:inline-block;
			}

			span:nth-of-type(3){
				display:none;
			}
		}
	}
}