main{
	@include l-float(left);
	padding: 1em;
	border-top: 3em solid $yellow;
}

@media all and (max-width: 370px){
	border-top: none !important;
}
.big-square-lead{
	padding:1em 0;
	position: relative;

	div{
		margin:5% 1.5% 5% 1.5%;

		span{
			margin:2% 0 5% 0;
			position: relative;
			left:50%;
			margin-left:-24px;
		}

		h2{
			width:100%;
			text-align:center;
		}

		p{
			line-height:24px;
		}
	}

	.back-to-work{
		position: relative;
		margin:0;
	}
}

.secondary-info{
	padding:1em 0;
	position: relative;
}

@media all and (max-width: 768px){
	.big-square-lead{
		div{
			margin:1%;

			&.l-col-30{
				width:100%;
			}
		}
	}

}



