main{
	@include l-float(left);
	// border-top: 3em solid $yellow;
}

.big-square-lead{
	@extend .l-col-left;
	@extend .l-col-full;

	div{
		@extend .l-col-left;
		width: 50%;
		padding: 2em;

		span{
			margin: 0 0 20.8px 0;
			position: relative;
			left: 50%;
			margin-left: -24px;
		}
		h2{
			width:100%;
			text-align:center;
			margin: 0 0 20.8px 0;
		}
	}

	.back-to-work{
		position: relative;
		margin:0;
	}
}

.secondary-info{
	@extend .l-col-left;
	@extend .l-col-full;
	padding: 2em;

	h1{
		margin-bottom: 16px;
	}
}

@media all and (max-width: 1230px){
	.big-square-lead{
		h2{
			font-size: $ms-2;
		}
	}
}

@media all and (min-width: 960px) and (max-width: 1110px){
	.big-square-lead{
		div{
			margin:1%;
			width:100%;
		}
	}
}

@media all and (max-width: 768px){
	.big-square-lead{
		div{
			margin:1%;
			width:100%;
		}
	}

}

@media all and (max-width: 370px){
	border-top: none !important;
}

@media all and (max-width: 480px){
	main{
		border-top: none;
	}
}