.post{
	padding: 1em;
}

header.post-header{
	float: left;
	width: 100%;
	margin: 0 0 2em 0;

	h1.post-title{

	}
	p.post-meta{
		font-size: $ms-0;
		margin: 0;
		// line-height: 33px;
	}
}

.post-content{
	width: 100%;
	h2 + h3{
		margin: 1em 0 0 0;
		display: block;
	}
	p > a{
		font-family: $sofia-regular;
		font-style: italic;
		color: $orange;
	}
	img{
		border: 1px solid $med-grey;
		padding: $ms--1;
		max-width: 90%;
		float: right;
		margin: 1em -25% 1em 1em;
	}
	ul{

	}
}
@media all and (min-width: 1120px) and (max-width: 1380px){
	.post-content{
		max-width: 80%;
	}
}

@media all and (min-width: 1381px){
	.post-content{
		max-width: 760px;
	}
}