.post{
	padding: 2em;
	font-size: 16px;
}

.post-header{
	@extend %l-float-l;
	@extend .l-col-full;
	margin: 0 0 2em 0;

	p.post-meta{
		font-size: $ms-0;
		margin: 0;
	}
}

.post-footer{
	margin: 2em 0;
	border-top: 1px solid $med-grey;
	@include l-float(left);
	width: 100%;
	overflow: auto;
}

.post-article .post-content{
	@extend .l-col-full;

	h2{
		margin-bottom: 16px;
	}
	h2 + h3{
		margin: 0;
		display: block;
	}
	p + h2,
	p + h3{
		margin-top: 35px;
	}
	p > a{
		font-style: italic;
		color: $orange;
	}
	p + p {
		margin-top: 16px;
	}
	img{
		border: 1px solid $med-grey;
		padding: $ms--1;
		max-width: 90%;
		float: right;
		margin: 1em -25% 1em 1em;
	}
	ul{
		display: block;
		width: 100%;
		border-left: 60px solid $med-grey;
		font-size: $ms-1;
		line-height: 1.4; 
		
		li{
			padding: 0 0 0 1em;
			width: 100%;
		}
	}

	ul + p{
		margin-top: 16px;
	}
	ul + h2,
	ul + h3{
		margin-top: 35px;
	}
}

.post-list{
	@extend .l-col-left;
	width: 100%;
	li{
		width: 100%;
		margin-bottom: 1em;
		padding: 2em 2em 0 0;

		&:first-of-type{
			padding: 0 2em 0 0; 
		}
	}
}

@media all and (min-width: 1120px) and (max-width: 1380px){
	.post-content{
		max-width: 80%;
	}
}

@media all and (min-width: 1381px){
	.post-content{
		max-width: 760px;
	}
}