.profile-aside{
	position: absolute; 
	right: 0;
	bottom: 0;
	width: 30%;
	img{
		max-width: 100%;
	}
}
.profile{
	p{
		margin-bottom: 1em;

		&:first-of-type{
			margin-top: 16px;
		}

		&:last-of-type{
			margin-bottom: 0;
		}
	}
}


@media all and (max-width: 1630px){
	.profile-aside{
		position: absolute; 
		right: 0;
		bottom: 0;
		width: 25%;
		img{
			max-width: 100%;
		}
	}

}

@media all and (max-width: 1384px){
.profile-aside{
		display: none;
	}
}