.work-thumbs-wrapper{
	width: 100%;
	overflow: auto;
	padding: $ms-1 0;
	background-color: $white;
	float: left;
	cursor: pointer;
	
	h2{
		margin-bottom: $ms--1;
	}

	.work-teaser{
		width: 40%;
		float: left;
	}

	.work-teaser + div{
		width: 60%;
		float: left;

		img{
			max-width: 100%;
		}
	}
	.work-teaser + div{
		img{ 
			display: inline-block; 
		}
		text-align: center;
	}
}

ul.tech-tech-list{
	width: 100%;
	display: inline-block;
	margin-bottom: $ms-1;

	li{
		font-family: $sofia-regular;
		font-size: $ms-1;
		display: inline-block;
		width: auto;
	}
}


@media all and (max-width: 600px){
	.work-thumbs-wrapper{
		.work-teaser,
		.work-teaser + div{
			width: 100%;
		}
	}
}

@media all and (min-width: 1700px){
	.work-thumbs-wrapper{
		.work-teaser + div{
			text-align: left;
		}
	}
}
