// $colors: $yellow $red $green $blue ;

// @for $i from 1 through length($colors) {
// 	.work-thumbs-wrapper:nth-child(#{length($colors)}n+#{$i}) {
// 		background: nth($colors, $i);
// 	}
// }

.work-thumbs-wrapper{
	width: 100%;
	overflow: auto;
	padding: $ms-1 0;
	background-color: $white;
	float: left;
	cursor: pointer;
	
	h2{
		margin-bottom: $ms--1;
	}

	.work-teaser{
		width: 40%;
		float: left;
	}

	.work-teaser + div{
		width: 60%;
		float: left;

		img{
			max-width: 100%;
		}
	}

	// &.layout-b{
	// 	.work-teaser{
	// 		width: 40%;
	// 		float: left;
	// 	}
	// 	.work-teaser + div{
	// 		width: 60%;
	// 		float: left;
	// 	}
	// }

	// &.layout-c{
	// 	.work-teaser{
	// 		width: 70%;
	// 		float: left;
	// 	}
	// 	.work-teaser + div{
	// 		width: 30%;
	// 		float: left;
	// 	}
	// }

	.work-teaser + div{
		img{ 
			display: inline-block; 
		}
		text-align: center;
	}
}

ul.tech-tech-list{
	width: 100%;
	display: inline-block;

	li{
		// background: $green;
		color: $green;
		font-family: $sofia-regular;
		font-size: $ms-1;
		display: inline-block;
		width: auto;
		// padding: 12px 9px;
		padding: 0 12px;
		border-right: 1px solid $med-grey;
		
		&:first-of-type{
			padding: 0 12px 0 0;
		}

		&:last-of-type{
			border-right: none;
		}
	}
}


@media all and (max-width: 600px){
	.work-thumbs-wrapper{
		.work-teaser,
		.work-teaser + div{
			width: 100%;
		}
	}
}

@media all and (min-width: 1700px){
	.work-thumbs-wrapper{
		.work-teaser + div{
			text-align: left;
		}
	}
}
