.beer-wrap{

	figure{
		float: left;
		width: 33.33%;
		height: 320px;
		overflow: auto;
		margin-top: 16px;

		img{
			max-height: 70%;
		}

		figcaption{
			padding: 9px;
		}
	}
}

@media all and (max-width: 840px){
	.beer-wrap{

		figure{
			width: 50%;
		}
	}
}

@media all and (max-width: 500px){
	.beer-wrap{

		figure{
			width: 100%;
			text-align: center;

			img{
				display: inline !important;
			}
		}
	}
}