.work-info-wrap{
	p{
		font-size: 16px;
	}
	.underlined{
		@include underlined-colors($uc-set-mask: white, $uc-set-underline: $black-grey);
	}
}
.work-section{
	padding: 16px 0 0 0;

	img{
		max-width: 100%;
	}
	.bullets{
		li{
			list-style-position: inside;
			line-height: 1.4;
		}
	}
	
	p + p {
		margin-top: 1em;
	}
	.row{
		@extend %clearfix;
		margin: 0 0 12px 0;
	}
	
	figure{
		margin-bottom: 16px;
		padding: 5px;

		img{
			margin: 0 auto;
		}
		figcaption{
			background: $light-grey;
			border-left: 5px solid $med-grey;
			padding: 5px;
			line-height: 1.4;
			margin-top: 21px;
		}
	}
	// &.prod-card{
	// 	figure{
	// 		img{
	// 			max-width: 60%;
	// 		}
	// 	}
	// }
	&.nav-section{
		@media screen and (min-width: 1400px){
			background: url("http://static.christanfergus.com/images/board.png") top right no-repeat;
		}
		figure{
			img{
				max-width: 90%;
			}
		}
	}
	@media screen and (min-width: 600px){
		.span_1_of_3{
			width: 33.33%;
			float: left;
		}
		.stats{
			padding: 0 12px;

			&:first-of-type{
				padding-left: 0;
			}
		}
		figure{
			img{
				max-width: 100%;
			}

		}
		&.weatherstead .userflows{
			img{
				max-width: 50%;
			}
		}
	}
}