$colors: $red $green $yellow $blue ;

@for $i from 1 through length($colors) {
	.work-thumbs-wrapper:nth-child(#{length($colors)}n+#{$i}) {
		background: nth($colors, $i);
	}
}

.work-thumbs-wrapper{
	width: 100%;
	overflow: auto;
	float: left;

	&:first-child{
		margin-top: 59px;
	}
	
	&[class*="layout-"]{
		.work-teaser,
		.work-teaser + div{
			height: 100%;
		}
	}


	&.layout-a{
		height: 320px;

		.work-teaser{
			width: 40%;
			float: right;
		}
		.work-teaser + div{
			width: 60%;
			float: left;
		}
	}

	&.layout-b{
		height: 400px;

		.work-teaser{
			width: 40%;
			float: left;
		}
		.work-teaser + div{
			width: 60%;
			float: right;
		}
	}

	&.layout-c{
		height: 320px;

		.work-teaser{
			width: 70%;
			float: right;
		}
		.work-teaser + div{
			width: 30%;
			float: left;
		}
	}
}

.work-bg-dtdo{
	background-image: url('http://lorempixel.com/400/200');
	background-size: cover;
}
.work-bg-fresh{
	background-image: url('http://lorempixel.com/400/200');
	background-size: cover;
}
.work-bg-beer{
	background-image: url('http://lorempixel.com/400/200');
	background-size: cover;
}