---
---
:root {
    --root-font-size: calc(.35vmax - .35vmin + 16px);
    --root-line-height: var(--space-medium, 1.35);
    --scale-base: var(--root-font-size);
    --scale-ratio: 1.25;

    --font-body: 'Raleway', 'Helvetica Neue', Helvetica, Arial;
    --font-heading: 'Playfair Display', var(--font-body);

    //--text-base-size: #{1em};
    --text-base-size: calc(12px + 2 * ((100vw - 300px) / 800));
    --text-scale-ratio: #{1.3};
    --font-normal: #{400};
    --font-medium: #{600};
    --font-bold: #{700};
    --font-heavy: #{900};

    --scale-6: 3.052rem;
    --scale-5: 2.441rem;
    --scale-4: 1.953rem;
    --scale-3: 1.563rem;
    --scale-2: 1.322rem;
    --scale-1: 1rem;
    --scale-0: 0rem;
    --scale--1: .8rem;
    --scale--2: .64rem;
    --scale--3: .512rem;
    --scale--4: .41rem;
    --scale--5: .328rem;

    --space-xxlarge: var(--scale-6);
    --space-xlarge: var(--scale-5);
    --space-large: var(--scale-4);
    --space-medium: var(--scale-3);
    --space-bump: var(--scale-2);
    --space-default: var(--scale-1);
    --space-none: var(--scale-0);
    --space-small: var(--scale--1);
    --space-nudge: var(--scale--2);
    --space-xsmall: var(--scale--3);
    --space-xxsmall: var(--scale--4);
    --space-min: var(--scale--5);

    // Text Colors
    --text-light: var(--white);
    --text-subtle: var(--gray-lighten-4);
    --text-dark: var(--gray-darken-5);
    --text-link: var(--brand-base);

    // Grayscale
    --white: #ffffff;
    --gray-lighten-6: #f9fafb;
    --gray-lighten-5: #ebecee;
    --gray-lighten-4: #d8d9dc;
    --gray-lighten-3: #c5c7cb;
    --gray-lighten-2: #b2b5ba;
    --gray-lighten-1: #9fa3a9;
    --gray-base: #8d9299;
    --gray-darken-1: #787e86;
    --gray-darken-2: #636a73;
    --gray-darken-3: #4f5661;
    --gray-darken-4: #3c444f;
    --gray-darken-5: #2a323e;
    --gray-darken-6: #181b27;
    --black: #000000;
}

html.dark{
    --white: #000;
    --gray-lighten-6: #181b27;
    --gray-lighten-5: #2a323e;
    --gray-lighten-4: #3c444f;
    --gray-lighten-3: #4f5661;
    --gray-lighten-2: #636a73;
    --gray-lighten-1: #787e86;
    --gray-base: #8d9299;
    --gray-darken-1: #9fa3a9;
    --gray-darken-2: #b2b5ba;
    --gray-darken-3: #c5c7cb;
    --gray-darken-4: #d8d9dc;
    --gray-darken-5: #ebecee;
    --gray-darken-6: #f9fafb;
    --black: #FFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@import "../stylesheets/typography",
"../stylesheets/layout",
"../stylesheets/resume",
"../stylesheets/article-page",
"../stylesheets/article-landing",
"../stylesheets/haikus",
"../stylesheets/icons"
;

.visually-hidden{
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    &:focus{
        clip: auto;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        margin: 0;
        padding: var(--space-default) 0;
        text-align: center;
        font-weight: 900;
        background: rgba(255,255,255,0.5);
    }
}

.no-margin{
    margin: 0;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    background: var(--white);
    color: var(--text-dark);
    font-size: var(--root-font-size);
    font-family: var(--font-body), sans-serif;
    font-weight: var(--font-medium);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--text-link);
    i{
        text-decoration: none;
        margin-right: var(--space-xxsmall);
    }
}
nav a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }

}
.current{
    font-weight: var(--font-heavy)
}
blockquote {
    margin: 0;
    padding: var(--space-default);
    border-left: 1px solid var(--gray-lighten-2);

    p {
        margin: var(--space-default) 0 0 0;
    }
}

img {
    max-width: 100%;
}

p:not(blockquote>p) {
    max-width: 768px;
}
.floated-image{
    max-width: 40%;
}
.footer-icon{
    display: none;
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 2200px) and (-webkit-min-device-pixel-ratio: 1) {
   
    .front-page .item-3,
    .front-page .item-4 {
        h2 {
            text-align: right;
        }
    }
    .footer-icon{
        display: inline-block;
    }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 2200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {

    .front-page .item-3,
    .front-page .item-4 {
        h2 {
            text-align: right;
        }
    }
    .footer-icon{
        display: inline-block;
    }
}

figure {
    margin: 0;
    max-width: 100%;

    figcaption {
        border-top: 1px solid var(--gray-lighten-4);
        margin-top: 1rem;
        padding-top: 1rem;
        font-size: .8em;
        font-style: italic;
    }

    +figure {
        margin-top: 1em;
    }

    img {
        max-width: 100%;
        margin: 0 auto;
    }
}

hr {
    height: 1px;
    background: var(--gray-lighten-2);
    border: 0;
    margin: 1em 0;
}

ul,
ol{
    line-height: 1.5;
}
p{
    line-height: 1.7;
}
ul {
    padding-left: 0;
    margin-left: 1em;

    &.outside {
        list-style: outside;
    }

    &.inside {
        list-style: inside;
    }
}

.lede {
    text-align: center;
    margin-bottom: var(--space-xxlarge);

    h1 {
        font-weight: var(--font-heavy);
        font-size: calc(var(--scale-5) * 2);
    }

    p.subtitle {
        font-family: var(--font-body);
        font-weight: var(--font-medium);
        font-size: var(--scale-4);
        color: var(--gray-darken-2);
        margin-bottom: var(--space-bump);
    }

    a {
        padding-left: var(--space-bump);
        padding-right: var(--space-bump);
    }

    hr.accent{
        width: var(--space-xxlarge);
        margin: 0 auto;
    }
}

header,footer{
    .container__logo {
        a {
            text-decoration: none;
        }

        .faux-heading {
            font-weight: var(--font-heavy);
            font-size: var(--scale-3);
        }
    }
}

header.site-header{
    padding: var(--space-medium);
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            padding-left: var(--space-bump);
            padding-right: var(--space-bump);

            
        }
    }
}

.footer--page{
    padding: var(--space-default);
    nav {
    margin-top: var(--space-small);
        a{
        display: block;
        margin-bottom: var(--space-small);
    }
}
}


@media all and (min-width: 600px) {

    
    .footer--page {
        padding: var(--space-medium);
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        overflow: hidden;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                padding-left: var(--space-bump);
                padding-right: var(--space-bump);

                
            }
        }
    }


}


.front-page {
    blockquote,
    li {
        font-size: var(--scale-3);
        font-weight: var(--font-medium);
        color: var(--gray-darken-2);
    }
    .landing-links{
        margin: var(--space-xlarge) 0;
    }
}

.item-3,
.item-4 {
    h2 {
        margin-right: var(--space-medium);
    }
}
.item-3-image{
    background: center no-repeat url("https://res.cloudinary.com/fergd/image/upload/v1552244671/fergdblog/people.png");
    background-size: contain;
}
.item-4-image{
    background: center no-repeat url("https://res.cloudinary.com/fergd/image/upload/v1552244671/fergdblog/usable.png");
    background-size: contain;
}
.item-4 {
    ul {
        padding: var(--space-default);
        border-left: 1px solid var(--gray-lighten-2);
        list-style-type: none;

        li {
            margin-bottom: var(--space-xlarge);
        }
    }
}
