---
---
@charset "utf-8";
@import 
	"../stylesheets/normalize",
	"../stylesheets/plugins/modular-scale/modular-scale",
	"../stylesheets/color",
	"../stylesheets/plugins/waypoints"
;
$ms-base: 1em;
$ms-ratio: 1.5;
body, html{
	width: 100%;
	height: 100%;
	font-size: $ms-base;
}

.hidden{
	position: absolute !important;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
.overrule-link-style{
	text-decoration: none;
}
@import 
	"../stylesheets/icons",
	"../stylesheets/typography",
	"../stylesheets/layout",
	"../stylesheets/code",
	"../stylesheets/landing-layout",
	"../stylesheets/posts",
	"../stylesheets/navigation",
	"../stylesheets/comments",
	"../stylesheets/post-list",
	"../stylesheets/header"
;
.markup-wrap{
	display: inline-block;

	&:before{
		content: '\003C';
		color: $green;
	}
	&:after{
		content: '\003E';
		color: $green;
	}
}
