---
layout: default
title: "User Experience Design Team Flow"
subtitle: The role of UX is not to sit on the sidelines of product. UX is to be an integral, driving, & course-correcting force that is crucial to a product’s development.
permalink: /articles/ux-design-team-flow/
date: 2019/04/07
author: Christan Fergus
published: true
resume-section: 'zoll'
role: User Experience Strategist
---

<div class="container article article-full">
    {% include article-headings.html %}
    <div class="item">
        <p>A user experience designer's role on a team can seem ambiguous to teammembers sometimes. It's useful to put an image with the concepts, which is what's happening here. This illustrates how the UX role(s) are woven into every aspect of the development cycle. In this case, this is for a scrum team that has adopted a dual-track development style.</p>
        <p>When I make these diagrams, I intend for them to be references, not law. There are few connecting lines (that would indicate a rigid flow) because some features/products may require all or only some of the steps in each phase. As with everything in Agile development, room must be given for team style and feature need.</p>
    </div>
    <div class="item-image">
        <figure>
        	<a href="https://res.cloudinary.com/fergd/image/upload/v1554951976/fergdblog/UX-Design-Flow.png" target="_blank" rel="noopener" rel="external">
            <img src="https://res.cloudinary.com/fergd/image/upload/v1554951976/fergdblog/UX-Design-Flow.png" alt="An example of how UX flows on a scrum team">
        </a>
            <figcaption>The UX flow on a scrum team utilizing a dual-track development style.</figcaption>
        </figure>
    </div>
    <div class="item">
        {% include article-footer.html %} 
    </div>
  
</div>