---
layout: article
title: "Using a Raspberry Pi 4 as a Plex Server"
subtitle: A run-down of my experiences with the Plex media server on a Raspberry Pi 4. Installation, lessons, enhancements, and tweaks.
permalink: /articles/Plex-Media-Server-on-Raspberry-Pi-4
group: articles
date: 2020/01/02
author: Christan Fergus
published: true
major-category: How-To
parent: articles
overview: true
images: 
  - url: "https://upload.wikimedia.org/wikipedia/commons/4/40/RPi-Logo-Stacked-Reg-PRINT.png"
    alt: "Rapsberry Pi 4 logo"
  - url: "https://upload.wikimedia.org/wikipedia/commons/f/f0/Plex_vector_logo.svg"
    alt: "Plex logo"
---
<section>
    <h1>Contained in this article</h1>
    <p>This tutorial will cover:
        <ul>
            <li>a brand new RP4 setup</li>
            <li>configuring your linux environment</li>
            <li>installing plex</li>
            <li>configuring and tuning plex to run optimally on a small system</li>
        </ul>
and any other tips and tricks I picked up along the way.</p>
</section>

<section>
    <h1>A Brief Overview of Why</h1>
    <h2>What is Plex?</h2>
    <p>In Plex's own words, <q cite="https://www.plex.tv/">Plex brings together all the media that matters to you. Your personal collection will look beautiful alongside stellar streaming content. Enjoy Live TV & DVR, a growing catalog of great web shows, news, and podcasts.</q></p>
    <p>I decided a while back that I was no longer comfortable with the model of buying digital content from a service such as Google Play or Amazon, since I did not actually <em>own</em> the content. I don't like that these services can dictate how and even when I can consume the content. With Plex, I'm able to digitize all my [legally] purchased content and be comforted knowing I will always have access to it. With Plex, I'm my own content provider, serving up decades of my own music, TV, movies, and photos.</p>
    <h2>Why the Pi?</h2>
    <p>The Raspberry Pi is an inexpensive and fun platform on which to geek out, to put it simply. In addition, my goal was to create as low-profile a system as I could. The Raspberry Pi is tiny, and the hard drives I purchased were small, laptop SSHDs. All in all, I just tucked them away behind some books and no one was the wiser.</p>
    <h2>A Word of Caution</h2>
    <p>Just because we can, doesn't mean we should...</p>
    <p>This write-up is for anyone who, like me, loves to mess around and tinker with stuff. However, if you want a basic tutorial to simply get Plex up and running, there are far easier ways to do it. It can be as easy as downloading it to your Mac or PC, installing, and then you're pretty much off to the races.</p>
    <p>Additionally, if you require a powerful system that supports multiple simultaneous streaming of 4K content, <em>you do not want to use a Raspberry Pi!</em> The pi simply does not have the horsepower.</p>
    <p>Now the disclaimers are out of the way, let's get going!</p>
    <p>That said, with some careful configuration and tweaking, the Raspberry Pi Plex server can meet most needs and be a lot of fun in the process.</p>
</section>
<section>
    <h1>Planning</h1>
    <p>In any project, a good plan can help you stay focused and ensure you successfully complete your mission. This project is no different. As you go into the project, ask yourself how much content you have, how you plan to back up your data, where you want your little server set up to live, etc. etc. Will you have multiple hard drives or just one? Are they going to be dedicated to only the Pi?</p>
    <p>Getting a good plan together will help you save money. It's also good to read a bunch of blogs about what other people have done. That said, here's what I've done.</p> 
</section>
<div>
    <h1>Requried Kit</h1>
    <h2>Hardware</h2>
    <ul>
        {% for part in site.data.plex-data.hardware %}
        <li class="{% if part.req %}list--required{% endif %}">{{part}}</li>
        {% endfor %}
    </ul>
    <h2>Software</h2>
    <ul>
        {% for program in site.data.plex-data.software %}
        <li>{{program}}</li>
        {% endfor %}
    </ul>
</div>
</div>
<!--
<div>
    <p>Choose your own adventure!</p>
    <ul>
        <li><a href="">Basic install</a></li>
        <li><a href="">Slightly more complex install</a></li>
        <li><a href="">The full shebang</a></li>
    </ul>
</div>
-->
<section>
    <h1>Set up the Raspberry Pi</h1>
    <h2>Install Raspbian OS</h2>
    <p>In this section we're going to get the Raspbian OS up and running so that we can then install Plex.</p>
    <ol class="steps">
        <li>Download <a href="https://www.raspberrypi.org/downloads/noobs/" rel="external" target="_blank"><span class="highlight">NOOBS</span></a>.<br>(<span class="highlight">N</span class="highlight">ew <span class="highlight">O</span class="highlight">ut <span class="highlight">O</span class="highlight">f <span class="highlight">T</span class="highlight">he <span class="highlight">B</span class="highlight">ox <span class="highlight">S</span class="highlight">oftware)</li>
        <li>Format your micro SD to FAT.<br>The Mac's <a href="https://support.apple.com/guide/disk-utility/welcome/mac" rel="external" target="_blank">Disk Utility</a> is an easy way to do it.</li>
        <li>Transfer Noobs onto the SD card.<br><strong>Note:</strong> Only transfer the files <em>inside</em> the downloaded folder. Noobs will not boot if you transfer the root folder over.</li>
        <li>Insert the SD card into the Pi and turn it on<br>If the files were transferred correctly, the Pi will automatically boot up to a distro install screen </li>
        <li>Choose <span class="highlight">Raspbian</span> and install.<br>Full or basic, is fine, I went with basic to preserve a little space and the fact I wouldn't be using any extra software.</li>
        <li>Follow all the prompts making sure to change your default pi password, set up wifi, download any updates, etc.</li>
        <li>Finally, enable <span class="highlight">SSH</span> via the GUI to enable remote access from another computer:<br>
            <code class="in-context">Pi Menu>Preferences>Raspberry Pi Configuration>Interfaces>SSH=Enable</code><br>This is very handy if you end up having your setup in a hard-to-access location, or run it "headless".</li>
    </ol>
</section>
<section>
    <h2>Prepping your system and storage requirements</h1>
        <p>There a few things you'll need to make sure are installed and working properly to ensure everything goes smoothly. Launch the terminal on your Pi and get to work.</p>
        <ol>
            <li>Ensure HTTPS transport package is installed (it most likely is for the latest versions of Noobs & Raspbian):
                <figure aria-labelledby="tut-aa">
                    <pre class="has-code">sudo apt-get install apt-transport-https</pre>
                    <figcaption id="tut-aa" class="visually-hidden">Code example reading, "sudo apt-get install apt-transport-https".</figcaption>
                </figure>
            </li>
            <li>If you're going to be dealing with NTFS drives, you'll want the NTFS packages:
                <figure aria-labelledby="tut-ab">
                    <pre class="has-code">sudo apt-get install ntfs-3g</pre>
                    <figcaption id="tut-ab" class="visually-hidden">Code example reading, "sudo apt-get install ntfs-3g".</figcaption>
                </figure>
            </li>
            <li>If you're dealing with EXFAT drives:
                <figure aria-labelledby="tut-ac">
                    <pre class="has-code">sudo apt-get install exfat-fuse exfat-utils</pre>
                    <figcaption id="tut-ac" class="visually-hidden">Code example reading, "sudo apt-get install exfat-fuse exfat-utils".</figcaption>
                </figure>
            </li>
            <li>Finally for this section, find out what architecture you have. This is how you're going to determine the correct version of the Plex server to download.
                <figure aria-labelledby="tut-ad">
                    <pre class="has-code">dpkg --print-architecture</pre>
                    <figcaption id="tut-ad" class="visually-hidden">Code example reading, "dpkg --print-architecture".</figcaption>
                </figure>
                Remember what's returned, you're about to need it.
            </li>
</section>

<section>
    <h2>Set Up Plex</h2>
    <ol>
        <li>
            <p>Head to the <a href="https://www.plex.tv/media-server-downloads" rel="external" target="_blank">Plex download page</a> and grab the right version for your Linux distro. In our case, Raspbian is a Debian fork, so you want the Debian install. In addition, you want the right version for your architecture (the value you got in the last step).</p>
            <ul>
                <li><code class="in-context">armhf</code> requires the "ARMv7" package</li>
                <li><code class="in-context">arm64</code> requires "ARMv8"</li>
            </ul>
            <p><em>Do not extract the downloaded package in the GUI, we'll do that via the command line.</em></p>
        </li>
        <li>
            <p>Back in the terminal, run the following command to install the Plex server:
                <figure aria-labelledby="tut-ba">
                    <pre class="has-code">sudo dpkg -i [DOWNLOADED FILE, i.e /Downloads/plex_etc...]</pre>
                    <figcaption id="tut-ba" class="visually-hidden">Code example that shows the command to find and install the plex server: sudo dpkg -i [location of file]</figcaption>
                </figure>
            </p>
        </li>
        
        <li>You now need to change the default Plex user from "Plex" to whatever your chosen username is. Let's face it, it's probably "Pi", amirite? You will do this in the command line. I used Nano to edit the file, but you can use the editor of your choice.
            <figure aria-labelledby="tut-bb">
                    <pre class="has-code">sudo nano /etc/default/plexmediaserver</pre>
                    <figcaption id="tut-bb" class="visually-hidden">Code example that shows the command to change the default Plex user.</figcaption>
                </figure>
            </li>
        <li>In the file, locate the line reading, <code class="in-context">PLEX_MEDIA_SERVER_USER=plex</code> and change the user from <code class="in-context">plex</code> to your user name, which is probably <code class="in-context">pi</code>, so you end up with: <code class="in-context">PLEX_MEDIA_SERVER_USER=pi</code>.</li>
        <li>Save your changes and exit out. If you're not sure how to do so:
            <ul><li>ctrl+x</li><li>y</li><li>enter</li></ul>
        <li>Once everything is installed, in your browswer, navigate to <code class="in-context">https://127.0.0.1:32400/web</code> where you should see the glorious Plex logo appear!</li>
        <li>Connect your hard drive(s) if you haven't already.</li>
        <li><p>Follow the setup steps on the Plex server site. At some point, it will ask you to set up your content libraries. This is where you're going to find out if you need to do some harddrive mapping.</p>
            <p>Go ahead and choose the type of library you want to set up (movies, music, TV, etc.) and navigate to the harddrive that contains the files.</p>
            <ul>If you can see your hard drive contents you're in business and can <a href="#system-configs">skip the next section.</a> If you cannot, continue on. There is more work to be done.</ul>  
    </ol>
</section>

<section id="setup-hd">
    <h1>Map Your Hard Drives</h1>
    <p>Because of the way Linux handles permissions, Plex most likely does not have permission to see into your harddrives.</p>

</section>

<section id="system-configs" class="tut--content">
<h1>System Configurations</h1>

</section>












<!--
<div class="tut--references">
    REFERENCES
</div>
-->





{% comment %} 

# Parts & Hardware
## Required
*   Raspberry Pi 4 (4GB RAM recommended)
*   USBC power adapter
*   Mini HDMI to HDMI cable
*   External HDD
*   Micro SD Card (minimum 8GB)

## Optional
*   RP4 Case
*   RP4 Fans and heatsinks

### Recommended to make life easier
Get a Raspberry Pi kit with power cable, fans, HDMI micro cables, etc. ~$100

# Software
*   Noobs
*   Raspbian
*   Plex

# Installation Steps

1. Download [Noobs](https://www.raspberrypi.org/downloads/noobs/)
2. Format your SD to FAT
3. Transfer Noobs onto the SD card. Only transfer the files inside the downloaded folder. Noobs will not boot if you transfer the root folder over. 
4. Throw the SD card into the Pi and boot up. If the files were transferred correctly, the Pi will automatically boot up to a distro install screen. 
5. Choose “Raspbian” and install, either full or basic, it shouldn’t matter
6. After successful install and reboot, set up the OS following the prompts,
Change default pi password, set up wifi, download any updates, etc.
7. **Optional:** to make your life easier, enable SSH access (via Raspbian GUI):
Pi Menu>Preferences>Raspberry Pi Configuration>Interfaces>SSH=Enable
8. Ensure HTTPS transport package is installed (it most likely is for the latest versions of Noobs & Raspbian): 
```
sudo apt-get install apt-transport-https
```
9. ntfs-3g is probably installed by default as well, but just in case, add the NTFS disc package 
```
sudo apt-get install ntfs-3g 
```
10. Download Plex for your Linux distro:
    1. First, determine whether you need the ARMv7 or the ARMv8 package: 
    ```
    dpkg --print-architecture 
    ```
    2. `armhf `requires the ARMv7 package
    3. `arm64` requires ARMv8
    4. Once determined, download the correct package from the [plex site](https://www.plex.tv/media-server-downloads/) but do not attempt to extract it once downloaded.
11. Install the Plex server:
```
sudo dpkg -i [DOWNLOADED FILE, i.e /Downloads/plex_etc...] 
```
12. A quick way to ensure plex has been installed correctly and begin to access your server, go to [http://127.0.0.1:32400/web](http://127.0.0.1:32400/web) in your browser, you should see plex come up 
13. Attach your hard drive(s) if you haven’t already
14. Follow Plex’s setup steps and find out if you have more work ahead of you: 
    1. When it’s time to set up your libraries, navigate to your hard drive. If you can see the contents, you are all set and can skip the rest of these steps
    2. If you cannot see your hard drive contents, the external hard drive must be mapped to a new location so that plex can access its contents. If that's the case, continue on...
15. Change the plex user as the first step in enabling Plex to access your hard drive content: 
    1. open the PMS file
    ```
    sudo nano /etc/default/plexmediaserver 
    ```
    2. on the line, `PLEX_MEDIA_SERVER_USER=plex`, change the user from “`plex`” to “`YOURUSERNAME`” 
    3. Save the changes
16. Elevate to root
```
sudo -s
```
17. Obtain your harddrive’s UUID. This command will give IDs for all drives including internal drives:
```
blkid
```
18. For however many harddrives you are connecting to be accessed by Plex, you have to set up separate mounting points. If there is a way to bulk do this, I don’t know it, so you have to run through these next steps for each HDD. Create your mount point:
```
sudo mkdir -p /media/[CUSTOMFOLDER]
```
19. Edit your fstab file. WARNING! Don’t screw this up or you’ll basically brick your Raspbian installation and have to reinstall everything and start over! 
```
nano /etc/fstab
```
20. You will see something like this:
```
proc            /proc           proc    defaults          0       0
/dev/XXXXXXXXX  /boot           vfat    defaults          0       2
/dev/XXXXXXXXX  /               ext4    defaults,noatime  0       1
# a swapfile is not a swap partition, no line here
#   use  dphys-swapfile swap[on|off]  for that
```
At the very end of the file, create a line for each mapped hard drive like so:
```
UUID=XXXXXXXXXXXXXXXXX /media/[CUSTOMFOLDER1] ntfs-3g permissions,auto 0 0
UUID=XXXXXXXXXXXXXXXXX /media/[CUSTOMFOLDER2] ntfs-3g permissions,auto 0 0
```
21. You must now mount your hard drive locations. You must do this for each drive you have connected
```
sudo mount /media/[CUSTOMFOLDER]
```
22. Ensure plex can read the files: 
```
sudo chown -R [USER]:[USER] /media/[CUSTOMFOLDER]
```
23. Repeat steps as needed for each drive. Head back over to Plex in your browswer. The contents of each drive will now show up as available in Plex. From here, you can follow the intuitive steps in Plex to set up your library. 

You're all set up! Enjoy your Plex server on the cheap!


{% endcomment %} 