---
layout: article
title: "Using a Raspberry Pi 4 as a Plex Server"
subtitle: A run-down of my experiences with the Plex media server on a Raspberry Pi 4. Installation, lessons, enhancements, and tweaks.
permalink: /articles/Plex-Media-Server-on-Raspberry-Pi-4
group: articles
date: 2020/01/02
author: Christan Fergus
published: true
major-category: How-To
parent: articles
overview: true
images: 
  - url: "https://upload.wikimedia.org/wikipedia/commons/4/40/RPi-Logo-Stacked-Reg-PRINT.png"
    alt: "Rapsberry Pi 4 logo"
  - url: "https://upload.wikimedia.org/wikipedia/commons/f/f0/Plex_vector_logo.svg"
    alt: "Plex logo"
toc:
 - <a href="#kit">Required kit</a>
 - <a href="#setup-pi">Set up a Raspberry Pi 4 from scratch</a>
 - <a href="#linux-config">Configure your Linux environment</a>
 - <a href="#plex-install">Plex installation</a>
 - <a href="#up-to-date">Keeping Up-To-Date</a>
---
<section>
    <p>Plex is a fantastic way to watch and share all of your media with one powerful tool. Even better, it can be installed on a small footprint with a Raspberry Pi. If you like to tinker, this tutorial is for you. However, just because you can, doesn’t mean  you should. While the Pi is a great way to get Plex going, it doesn’t have the horse power to do lots of high quality simultaneous device streaming. That said, for most people, it will do the job nicely.</p>
</section>
<section>
    <h1 id="kit">Requried Kit</h1>
    <h2>Hardware</h2>
    <ul>
        {% for part in site.data.plex-data.hardware %}
        <li class="{% if part.req %}list--required{% endif %}">{{part}}</li>
        {% endfor %}
    </ul>
    <h2>Software</h2>
    <ul>
        {% for program in site.data.plex-data.software %}
        <li>{{program}}</li>
        {% endfor %}
    </ul>
</section>

<section>
    <h1 id="setup-pi">Set up the Raspberry Pi</h1>
    <h2>Install Raspbian OS</h2>
    <p>In this section we're going to get the Raspbian OS up and running so that we can then install Plex.</p>
    <ol class="steps">
        <li>Download <a href="https://www.raspberrypi.org/downloads/noobs/" rel="external" target="_blank">NOOBS</span></a></li>
        <li>Format your micro SD to FAT.<br>The Mac's <a href="https://support.apple.com/guide/disk-utility/welcome/mac" rel="external" target="_blank">Disk Utility</a> is an easy way to do it.</li>
        <li>Transfer Noobs onto the SD card.<br><strong>Note:</strong> Only transfer the files <em>inside</em> the downloaded folder. Noobs will not boot if you transfer the root folder over.</li>
        <li>Insert the SD card into the Pi and turn it on. If the files were transferred correctly, the Pi will automatically boot up to a distro install screen.</li>
        <li>Choose <span class="highlight">Raspbian</span> and install. Either full or basic are fine. I went with basic to preserve a little space and the fact I wouldn't be using any extra software.</li>
        <li>Follow all the prompts making sure to change your default pi password, set up wifi, download any updates, etc.</li>
        <li>Finally, enable <span class="highlight">SSH</span> via the GUI to enable remote access from another computer: <span class="highlight">Pi Menu>Preferences>Raspberry Pi Configuration>Interfaces>SSH=Enable</span>.<br>This is very handy if you end up having your setup in a hard-to-access location, or run it headless. In most cases, I do all my RP work over SSH since my Pi is located in an invonvinient place.</li>
    </ol>
</section>
<section>
    <h2 id="linux-config">Prepping your system and storage requirements</h1>
        <p>There a few things you'll need to make sure are installed and working properly to ensure everything goes smoothly. Launch the terminal on your Pi and get to work.</p>
        <ol>
            <li>Ensure HTTPS transport package is installed (it most likely is for the latest versions of Noobs & Raspbian):
                <figure aria-labelledby="tut-aa">
                    <pre class="has-code">sudo apt-get install apt-transport-https</pre>
                    <figcaption id="tut-aa" class="visually-hidden">Code example reading, "sudo apt-get install apt-transport-https".</figcaption>
                </figure>
            </li>
            <li>If you're going to be dealing with NTFS drives, you'll want the NTFS packages:
                <figure aria-labelledby="tut-ab">
                    <pre class="has-code">sudo apt-get install ntfs-3g</pre>
                    <figcaption id="tut-ab" class="visually-hidden">Code example reading, "sudo apt-get install ntfs-3g".</figcaption>
                </figure>
            </li>
            <li>If you're dealing with EXFAT drives:
                <figure aria-labelledby="tut-ac">
                    <pre class="has-code">sudo apt-get install exfat-fuse exfat-utils</pre>
                    <figcaption id="tut-ac" class="visually-hidden">Code example reading, "sudo apt-get install exfat-fuse exfat-utils".</figcaption>
                </figure>
            </li>
            <li>Finally for this section, find out what architecture you have. This is how you're going to determine the correct version of the Plex server to download.
                <figure aria-labelledby="tut-ad">
                    <pre class="has-code">dpkg --print-architecture</pre>
                    <figcaption id="tut-ad" class="visually-hidden">Code example reading, "dpkg --print-architecture".</figcaption>
                </figure>
                Remember what's returned, you're about to need it.
            </li>
</section>

<section>
    <h2 id="plex-install">Set Up Plex</h2>
    <ol>
        <li>
            <p>Head to the <a href="https://www.plex.tv/media-server-downloads" rel="external" target="_blank">Plex download page</a> and grab the right version for your Linux distro. In our case, Raspbian is a Debian fork, so you want the Debian install. In addition, you want the right version for your architecture (the value you got in the last step).</p>
            <ul>
                <li><span class="highlight">armhf</span> requires the <span class="highlight">ARMv7</span> package</li>
                <li><span class="highlight">arm64</span> requires <span class="highlight">ARMv8</span> package</li>
            </ul>
            <p><em>Do not extract the downloaded package in the GUI, we'll do that via the command line.</em></p>
        </li>
        <li>
            <p>Back in the terminal, run the following command to install the Plex server:
                <figure aria-labelledby="tut-ba">
                    <pre class="has-code">sudo dpkg -i [DOWNLOADED FILE, i.e /Downloads/plex_etc...]</pre>
                    <figcaption id="tut-ba" class="visually-hidden">Code example that shows the command to find and install the plex server: sudo dpkg -i [location of file]</figcaption>
                </figure>
            </p>
        </li>
        <li>You now need to change the default Plex user from "plex" to whatever your chosen username is. Let's face it, it's probably "pi", amirite? You will do this in the command line. I used Nano to edit the file, but you can use the editor of your choice.
            <figure aria-labelledby="tut-bb">
                    <pre class="has-code">sudo nano /etc/default/plexmediaserver</pre>
                    <figcaption id="tut-bb" class="visually-hidden">Code example that shows the command to change the default Plex user.</figcaption>
                </figure>
            </li>
        <li>In the file, locate the line reading, <code class="in-context">PLEX_MEDIA_SERVER_USER=plex</code> and change the user from <code class="in-context">plex</code> to your user name (which is probably <code class="in-context">pi</code>). <code class="in-context">PLEX_MEDIA_SERVER_USER=[YOURUSERNAME]</code></pre>.</li>
        <li>Save your changes and exit out. If you're in Nano and not sure how to do so: <span class="highlight">CTRL+X</span>, <span class="highlight">Y</span>, <span class="highlight">ENTER</span></li>
        <li>Once everything is installed, in your browswer, navigate to <span class="highlight">https://127.0.0.1:32400/web</span> where you should see the glorious Plex logo appear!</li>
        <li>It's now time to have Plex discover your content. Connect your hard drive(s) to the Pi if you haven't already.</li>
        <li>
            <p>Follow the setup steps on the Plex server site that you just navigated to. At some point, it will ask you to set up your content libraries. This is where you're going to find out if you need to do some harddrive mapping.</p>
            <p>Go ahead and choose the type of library you want to set up (movies, music, TV, etc.) and navigate to the harddrive that contains the files.</p>
            <p>If you can see your hard drive contents you're in business. If you cannot, there is more work to be done. You must manually map your drives. For information on how to do that, check out these resources: 
            <ul>
                <li><a href="https://tecadmin.net/mount-and-unmount-filesystem-in-linux/" rel="external" target="_blank">Mount and Unmount Linux Filesystem</a></li>
                <li><a href="https://customerhelp.co.za/linux/ubuntu/correctly-auto-mount-seagate-exfat-external-usb-drive-ubuntu-permanent-mounting.html" rel="external" target="_blank">Correctly Auto-Mount Harddrives</a></li>
            </p>  
        </li>
    </ol>
</section>


</section>

<section id="up-to-date" class="tut--content">
<h1>Stay Up-To-Date</h1>
<p>Plex frequently releases updates to the server. The easiest way to stay up-to-date is to periodically run an update command. For this, I went ahead and created a bash script so I wouldn't have to run everything manually. The script involves these commands:
    <figure aria-labelledby="tut-ca">
        <pre class="has-code">#!/usr/bin/env bash
# runs a full system update and install

sudo apt update -y
sudo apt full-upgrade -y
sudo apt clean
sudo apt autoclean
sudo apt autoremove</pre>
        <figcaption id="tut-ca" class="visually-hidden">my bash script</figcaption>
    </figure>
</p>
<p>There may be an occasion where you need to start, stop, or restart the Plex server. You can do so with these commands:
    <figure aria-labelledby="tut-cb">
        <pre class="has-code">sudo service plexmediaserver start</pre><br>
<pre class="has-code">sudo service plexmediaserver stop</pre><br>
<pre class="has-code">sudo service plexmediaserver restart</pre>
        <figcaption id="tut-cb" class="visually-hidden">Managing the Plex server status</figcaption>
    </figure>
    <p>This tutorial only scratches the surface of how you can install and tweak Plex. If you like to get your hands dirty, it's a fun project to tweak and maintain.</p>
</section>
