.article-header-container{
    margin-bottom: var(--ms3);
    h1{
        margin-top: 0;
    }
}
.articles-landing--list {
    margin-left: 0;
    li {
        margin-bottom: var(--ms3);
        font-family: var(--copy-body);
        color: var(--accent);
        &:hover h2{
            @include custom-underline--hover();
        }
        a {
            text-decoration: none;
        }
        h2{
            color: var(--landing-list-heading);
        }
    }
}