.container.article-landing {
    a {
        font-size: var(--scale-1);

        small {
            font-size: var(--scale--1);
        }
    }
}

.container.article {
    blockquote p {
        font-size: var(--scale-3);
        font-weight: var(--font-medium);
        color: var(--gray-darken-2);
    }

    .article-column p,
    .item-a2 a {
        color: var(--gray-darken-2);
    }

    .item-a2 {
        a {
            display: inline-block;
            margin-bottom: var(--space-bump);
            font-size: var(--scale-1);
            text-decoration: none;
        }
    }
}

.article-heading p {
    color: var(--gray-darken-2);
}

@media all and (min-width: 1025px) {

    .container.article,
    .container.article-layout2,
    .container.article-full {
        display: grid;
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
        grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: auto;
        grid-gap: 1em 1em;
    }

    [class^="item-a"]:not(.item-a2):not(.item-a3) {
        padding-left: var(--scale-1);
    }

    .item-a2 {
        grid-area: 1 / 1 / 3 / 2;
    }

    .item-a3 {
        grid-area: 1 / 2 / 2 / 5;
    }

    .item-a4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .item-a5 {
        grid-area: 2 / 3 / 3 / 5;
    }

    .item-a6 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .item-a7 {
        grid-area: 3 / 3 / 4 / 5;
    }

    .item-a8 {
        grid-area: 4 / 2 / 5 / 3;
    }

    .item-a9 {
        grid-area: 4 / 3 / 5 / 5;
    }

    .item-a10 {
        grid-area: 5 / 2 / 6 / 3;
    }

    .item-a11 {
        grid-area: 5 / 3 / 6 / 5;
    }

    .item-a12 {
        grid-area: 6 / 2 / 7 / 3;
    }

    .item-a13 {
        grid-area: 6 / 3 / 7 / 5;
    }

    .item-a14 {
        grid-area: 7 / 2 / 8 / 3;
    }

    .item-a15 {
        grid-area: 7 / 3 / 8 / 5;
    }
    .item-a16 {
        grid-area: 8 / 2 / 9 / 3;
    }

    .item-a17 {
        grid-area: 8 / 3 / 9 / 5;
    }
    .item-a18 {
        grid-area: 9 / 2 / 10 / 3;
    }

    .item-a19 {
        grid-area: 9 / 3 / 10 / 5;
    }
    .item-image-2 {
        grid-area: 5 / 1 / 4 / 3;
        display: flex;
        flex-direction: column;
        background: transparent no-repeat url(https://res.cloudinary.com/fergd/image/upload/v1552244671/fergdblog/documenting.png);
        background-size: contain;
    }

    .container.article-layout2 {
        .item-a2 {
            grid-area: 1 / 1 / 3 / 3;
        }

        .item-a3 {
            grid-area: 1 / 3 / 2 / 6;
        }
    }

    .item-case-study.product-card {
        grid-area: 2 / 2 / 3 / 6;
    }

    .item-case-study.navigation {
        grid-area: 3 / 2 / 4 / 6;
    }

    .flex-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       figure{
        margin: 0;
       }
       div, figure{
        flex-basis: 18rem;
       }
    }
    .container.article-full{
        .item{
            grid-column: 2 / 4;
            grid-row: auto;
            p{
                padding-left: var(--space-default);
            }
        }
        .item-image{
             grid-column: 2 / 6;
            grid-row: auto;
        }
    }
}