img.article--header-image{
  max-width: 280px;
  display: block;
  margin: 0 auto;
  opacity: var(--image-opacity);
}
article--header div{
  padding-top: var(--ms0);
}
.article--content{
  figure{
    margin-bottom: var(--ms0);
  }
}
@media all and (min-width: 700px) and (max-width: 1023px){
  img.article--header-image{
    float: left;
  }
}
@media all and (min-width: 1025px) {
   .article--wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: auto;
        grid-gap: 2em;
    }
    .article--header {
        grid-column: 1 / 3;
        & div:not(> .stick-em){
          padding-top: 0;
        }
    }
  .article--content {
        grid-column: 3 / 7;
        box-shadow: 0 2.5em 2em 0.5em var(--shadow);
        border-radius: 0 0 1em 1em;
        .article--content--body {
            padding: 0 var(--ms0) var(--ms1) var(--ms0);
        }
    }
  .article--figure{
      grid-column: 2 / 8;
      background: red;
  }
    .flex-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       figure{
        margin: 0;
       }
       div, figure{
        flex-basis: 18rem;
       }
    }
}