@media all and (min-width: 1025px) {
    .cs--overview {
        grid-column: 3 / 7;
    }
    .cs--overview-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        grid-row: 1;
        margin-top: var(--space-xxlarge);
    }
    .cs--content {
        grid-column: 3 / 7;
        p {
            max-width: var(--max-paragraph);
        }
    }
    .article--figure--wide{
        grid-column: 2 / 6;
        img{
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }
}