pre.has-code{
	background: var(--gray-darken-6);
	color: #19af5d;
	text-shadow: 0px 0px 20px #19af5d;
	padding: var(--scale-1);
	font-weight: var(--font-normal);
	border-radius: var(--scale--5);
	white-space: break-spaces;
}

code{
	color: var(--gray-darken-6);
	background: #19af5d;
}