pre, code {
    font-family: 'PT Mono', Courier, monospace;
    white-space: pre;
    white-space: pre-wrap;
    background: #CCC;
    border: 1px solid #CCC;
}       
    
pre {
    display: block;
    padding: 0 20px;
    code{
       border: none; 
    }   
}

article code {
    padding: 0 10px;
}