html {
    font-size: var(--base-font-size);
}
body {
    font-size: 100%;
    font-family: var(--copy-body);
    margin: 0 auto;
    padding: var(--ms0);
    min-height: 100vh;
    max-width: 1800px;
    background: var(--background);
    color: var(--text-default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
@media (prefers-color-scheme: dark) {
    img {
        filter: var(--image-opacity);
    }
}
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    &:focus {
        clip: auto;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        margin: 0;
        padding: var(--space-default) 0;
        text-align: center;
        font-weight: 900;
        background: rgba(255, 255, 255, 0.5);
    }
}
.no-margin {
    margin: 0;
}
.no-wrapping {
    white-space: nowrap;
}
img {
    max-width: 100%;
}
.floated-image {
    max-width: 40%;
}
.floated-image.push-right {
    margin-bottom: 2em;
}
.footer-icon {
    display: none;
}
figure {
    max-width: 100%;
    margin: 0;

    img {
        max-width: 100%;
        margin: 0 auto;
    }
}
hr {
    height: var(--d-border-thickness);
    background: var(--color-splash);
    border: 0;
    margin: var(--ms0) 0;
}
ul {
    li::before {
        content: '\2022';
        font-family: var(--heading-primary);
        font-weight: var(-f-heavy);
        color: var(--accent);
        display: inline-block;
        width: var(--ms0);
        margin-left: -1rem;
    }
    &.inside {
        list-style-position: inside;
        margin-left: var(--ms0);
    }
    &.landing-list li::before {
        content: '\2026';
    }
    &.hide-bullets li::before {
        display: none;
    }
}