header.site-header,
footer.site-footer {
    .logo-container {
        align-self: center;
        margin-bottom: var(--ms0);
        a {
            text-decoration: none;
        }
    }
}
header.site-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: var(--ms0) 0;
    margin-bottom: var(--ms2);
    max-width: 100%;
    overflow: hidden;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            padding: 0 var(--ms0);
        }
    }
}
footer.site-footer {
    margin-top: var(--ms2);
    nav {
        a {
            display: block;
            padding: var(--ms0) 0;
        }
    }
}
@media all and (min-width: 1024px) {
    header.site-header,
    footer.site-footer{
        .logo-container{
            margin-bottom: 0;
        }
    }
    header.site-header {
        flex-direction: row;
        nav a {
            &:last-of-type {
                padding-right: 0;
            }
            &:first-of-type {
                padding-left: 0;
            }
        }
    }
    footer.site-footer {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                padding: 0 var(--ms0);
                &:first-of-type {
                    padding-left: 0;
                }
                &:last-of-type {
                    padding-right: 0;
                }
            }
        }
    }
}