@media screen and (max-width: 600px){
	header{
		flex-direction: column;
	}
}
header.global-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--color-base-opacity);
    padding: 1em;
    color: var(--color-white);

    h1 {
        font-weight: var(--font-heavy);
    }
    nav{
    	a{
			color: var(--color-teal);
			font-size: var(--text-lg);
			margin-right: 2em;
    	}
    }
}

div.employment {
    background-color: var(--color-base);
    border-left: 0.5em var(--color-teal) solid;
    padding: 1em;
    min-width: 20em;

    p {
        color: var(--color-white);
        font-weight: var(--font-medium);
    }
}