/* ----------- Non-Retina Screens ----------- */
@media all and (min-width: 769px){
    .front-page .item-2{
        .label{
            margin-bottom: var(--ms2);
        }
    }
    .front-page .item-3,
    .front-page .item-4 {
        display: flex;
        align-items: center;
        justify-content: space-around;

        h2 {
            text-align: right;
        }
    }
    .item-3,
    .item-4 {
        h2,
        p,
        ul {
            margin: 0;
            padding: var(--ms2);
        }
        ul,
        p{
            border-left: var(--d-border);
        }
    }
    .item-3-image {
        background: center no-repeat url("https://res.cloudinary.com/fergd/image/upload/v1552244671/fergdblog/people.png");
        background-size: contain;
    }
    .item-4-image {
        background: center no-repeat url("https://res.cloudinary.com/fergd/image/upload/v1552244671/fergdblog/usable.png");
        background-size: contain;
    }
    .landing-links {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        width: 100%;
        a {
            text-decoration: none;

            &:hover {
                @include custom-underline--hover;
            }
        }
    }
}