.landing-leader{
	background: url("../images/lobostudio.jpg") center;
	// Photo by LoboStudio Hamburg on Unsplash
	background-size: cover;
	background-attachment: fixed;
	height: 82vh;
	display: flex;
	justify-content: center;
}