/* ----------- Non-Retina Screens ----------- */
.item-5 {
    display: none;
}
p.label{
    max-width: 100%;
}
@media all and (min-width: 768px) {
    .front-page .item-2 {
        .label {
            margin-bottom: var(--ms2);
        }
    }
    .front-page .item-3,
    .front-page .item-4 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        h2 {
            text-align: right;
        }
    }
    .item-3,
    .item-4 {
        h2,
        p,
        ul {
            margin: 0;
            padding: var(--ms2);
        }
        h2{
            color: var(--landing-list-heading);
        }
    }
    .item-3-image {
        background: center no-repeat url("https://res.cloudinary.com/fergd/image/upload/v1614899940/fergdblog/people.png");
        background-size: contain;
        opacity: var(--image-opacity);
    }
    .item-4-image {
        background: center no-repeat url("https://res.cloudinary.com/fergd/image/upload/v1614899940/fergdblog/usable.png");
        background-size: contain;
        opacity: var(--image-opacity);
    }
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
    a {
        text-decoration: none;
        &:hover {
            @include custom-underline--hover;
        }
    }
}
@media all and (min-width: 1024px) {
    .container.front-page {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1em;
        grid-row-gap: 4em;
        [class^="item"] {
            display: flex;
            justify-content: space-between;
            padding: var(--space-medium);
        }
        .big-image{
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row: 2;
            border-bottom: var(--d-border);
            display: flex;
            justify-content: space-around;
            overflow: hidden;
            img{
                max-width: 100%;
                margin-bottom: -3px;
            }
        }
        .item-2 {
            flex-direction: column;
            grid-area: 1 / 2 / 2 / 5;
            grid-row: 1;
        }
        .item-3 {
            align-items: center;
            grid-area: 2 / 1 / 3 / 4;
            grid-row: 3;
        }
        .item-4 {
            flex-direction: row;
            align-items: center;
            grid-area: 3 / 3 / 4 / 6;
            grid-row: 4;
        }
        .item-3,
        .item-4 {
            ul,
            p {
                @media (prefers-color-scheme: light) {
                border-left: var(--d-border);
            }
            }
        }
        .item-5 {
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            grid-area: 4 / 2 / 5 / 5;
            margin: var(--ms2) 0 var(--ms4) 0;
            .landing-links a{
                padding: 0 var(--ms0);
                text-decoration: none;
                &:hover{
                    @include custom-underline--hover();
                }
            }
        }
        .item-3-image{
            grid-area: 2 / 4 / 2 / 6;
            grid-row: 3;
        }
        .item-4-image{
            grid-area: 3 / 1 / 3 / 3;
            grid-row: 4;
        }
    }
}