
html::after{
    content: '320px • 17px';
    background: rgba(255,0,0,0.7);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-family: var(--monospace);
}
@media all and (min-width: 768px){
    html::after{
    content: '768px • 19px';
    background: rgba(255,0,0,0.7);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-family: var(--monospace);
    }
}
@media all and (min-width: 1024px) {
    html::after{
    content: '1024px • 19px';
    background: rgba(255,0,0,0.7);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    }
}

.push-right {
    float: right;
}
.push-left {
    float: left;
}
@media all and (min-width: 1024px) {
    .stick-em{
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
    .lede{
        display: block;
    }
    
}