.push-right {
    float: right;
}
.push-left {
    float: left;
}
@media all and (min-width: 1024px) {
    .stick-em{
        position: sticky;
        position: -webkit-sticky;
        top: var(--ms0);
    }
}