button.menu-button{
	width: 74px;
	height: 74px;
	border-radius: 100px;
	background-color: $la-blue;
	position: fixed;
	bottom: 20px;
	left: 20px;
	border: none;
	outline: none;
}
.primary-nav{
	ul{
		display: none;
		list-style-type: none;
		&.is-visible{
			display: block;
			position: fixed;
			bottom: 85px;
			left: 45px;
		}
		li{
			background: $la-blue;
			a{color: white;}
			padding: 15px 10px;
			border-radius: 50px;
			margin: 0 0 20px 0;
		}
	}
	
}
@media all and (min-width: 768px){
	.primary-nav{
		width: 40%;
		ul{
			margin: 0;
			padding-left: 0;
			height: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			li {
				display: inline-block;
				
				height: 100%;
				a{
					display: inline-block;
					height: 100%;
					line-height: 90px;
					vertical-align: baseline;
					font-family: $nav-copy;
					text-transform: uppercase;
					font-weight: 700;
				}
			}
		}
	}
}