img.badge{
    margin: 0 auto;
    display: block;
}
@media all and (min-width: 1024px){
    .resume-intro{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: var(--ms2);
        .r-name{
            grid-column: 1 / 4;
            text-align: center;
        }
        .r-quote{
            grid-column: 2 / 4;
            grid-row: 2;
        }
        .r-links{
            grid-column: 1 / 2;
            grid-row: 2;
            a{
                text-decoration: none;
                &:hover{
                    @include custom-underline--hover();
                }
            }
        }
    }
    .job-history{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: var(--ms2);
        &:not(:first-of-type){
            margin-top: var(--ms3);
        }
        header{
            text-align: center;
            h1{
                margin-top: 0;
                &.shrink-lines{
                    word-break: break-word;
                    font-size: var(--ms2);
                    &::first-line{
                        font-size: var(--ms3);
                    }
                }
            } 
            p{
                margin: 0;
            }
        }
        aside h4{
            margin-top: 0;
        }
    }
    .timeline{
        h4{
            margin: 0;
            color: var(--accent);
            &::before{
                content: '';
                display: block;
                width: var(--d-border-thickness);
                height: var(--ms2);
                background: var(--accent);
                margin: 0 auto;
            }
        }
    }
    .education-container{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: var(--ms2);
        div{
            grid-column: 2 / 3;
        }
    }
}