h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading), sans-serif;
    line-height: 1.2;
    margin: 0;
    letter-spacing: -0.04ch;

    // +* {
    //     margin-top: var(--space-nudge);
    // }
}
h3,
h4{
	font-family: var(--font-body), sans-serif;
    line-height: 1.2;
    margin: 0;

    +* {
        margin-top: var(--space-nudge);
    }
}
h1 {
    font-size: var(--scale-6);
}

h2 {
    font-size: var(--scale-5);
}

h3 {
    font-size: var(--scale-3);
    color: var(--gray-darken-2);
}

h4 {
    font-size: var(--scale-1);
    font-weight: 700;
}

h5 {
    font-size: var(--scale--1);
}

h6 {
    font-size: var(--scale--2);
}

*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6 {
    margin-top: var(--space-default);
}

.text {
    &--normal {
        font-weight: normal;
    }

    &--monospace {
        font-family: var(--font-monospace);
        font-size: .9em;
    }

    &--all-caps {
        text-transform: uppercase;
        letter-spacing: 0.4ch;
    }

    &--small-caps {
        text-transform: uppercase;
        font-size: .65em;
    }
}

.article-body p{
	font-family: var(--font-article);
	font-weight: var(--font-normal);
	font-size: var(--scale-2);
}

p, li, a{
    letter-spacing: -0.02ch;
}

p.subtitle {
    font-family: var(--font-body);
    font-weight: var(--font-heavy);
    font-size: var(--scale-3);
    color: var(--gray-darken-2);
    margin: var(--scale-1) 0 0 0;
}