// CSS verbosity is my friend here. I know I'm repeating a lot of declarations, this is deliberate to keep my sanity.
h1 {
    font-family: var(--heading-primary), sans-serif;
    font-size: var(--scale-4);
    line-height: 1;
    letter-spacing: -0.02ch;
    font-weight: var(--font-heavy);
    margin: var(--scale-4) 0 var(--scale-1) 0;
    &:first-of-type{
        margin-top: 0;
    }
}
.faux-heading {
    font-family: var(--sans-serif), sans-serif;
    font-weight: var(--font-heavy);
    font-size: var(--scale-2);
}
h2 {
    font-family: var(--sans-serif), sans-serif;
    font-size: var(--scale-3);
    font-weight: var(--font-normal);
    line-height: calc(var(--scale-3) * 1.2);
    margin: var(--scale-4) 0 var(--scale-0) 0;
    &:first-of-type{
        margin-top: 0;
    }
}
h1+h2{
    // This is to keep the first of type rule that does not account for headings that could be next to each other in the document. 
    margin-top: var(--scale-3) !important;
}
h3 {
    font-family: var(--sans-serif), sans-serif;
    font-size: var(--scale-2);
    font-weight: var(--font-medium);
    line-height: calc(var(--scale-0) * 1.2);
    text-transform: uppercase;
    margin: var(--scale-4) 0 var(--scale-1) 0;
    &:first-of-type{
        margin-top: 0;
    }
}
h2+h3{
    // This is to keep the first of type rule that does not account for headings that could be next to each other in the document. 
    margin-top: var(--scale-3) !important;
}
p {
    font-family: var(--copy-body), sans-serif;
    font-size: var(--scale-0);
    font-weight: var(--font-normal);
    line-height: 1.4em;
    margin: 0 0 var(--scale-2) 0;
    &.intro {
        font-size: var(--scale-1);
        line-height: calc(var(--scale-1) * 1.2);
    }
}
p.callout {
    font-family: var(--sans-serif);
    font-size: var(--scale-2);
    border-top: 2px solid var(--yellow);
    border-bottom: 2px solid var(--yellow);
    padding: var(--scale-2) 0 var(--scale-2) var(--scale-3);
}
p.label {
    font-family: var(--sans-serif);
    text-transform: uppercase;
    font-weight: var(--font-heavy);
    color: var(--gray-base);
    letter-spacing: 0.5ch;
}
p.authorship {
    font-family: var(--body-copy);
    font-size: var(--scale--1);
}
blockquote {
    border-left: var(--scale--5) solid var(--gray-lighten-2);
    p.pullquote {
        font-family: var(--sans-serif), sans-serif;
        line-height: calc(var(--scale-2) * 1.2);
        font-size: var(--scale-2);
        font-style: italic;
        margin-left: var(--space-bump);
        color: var(--gray-base);
    }
}
span.dropcap {
    float: left;
    font-size: 90px;
    line-height: var(--scale-4);
    font-family: var(--heading-primary);
    padding: 0 10px 0 0;
}
a{
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    &:hover {
        text-decoration: underline;
        text-decoration-color: var(--yellow);
        text-decoration-thickness: 2px;
    }
}
nav a {
    font-family: var(--sans-serif);
    font-weight: var(--font-normal);
    text-decoration: none;
    white-space: nowrap; 
    &.current {
        font-weight: var(--font-heavy);
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
        text-decoration-color: var(--yellow);
    }
}
.tldr,
.toc {
    background-color: var(--yellow);
    padding: var(--space-bump);
    border-radius: 0 2em;
    margin: 0 0 var(--scale-2) 0;
}
figcaption {
    border-top: 2px solid var(--yellow);
    padding-top: var(--space-bump);
    font-size: var(--scale--1);
    font-style: italic;
    font-family: var(--sans-serif);
}