@media (prefers-color-scheme: dark) {
	:root {
		//Base Colors
        --c-yellow: rgba(255, 204, 51, 0.7);
        --c-grey: rgba(19, 20, 21, 1);
        --c-white: rgba(188, 210, 220, 0.85);
        --c-grey-50: rgba(188, 210, 220, 0.5);
        --c-grey-25: rgba(188, 210, 220, 0.25);
        --c-grey-05: rgba(188, 210, 220, 0.05);
        --c-pale-red: rgba(255, 0, 0, 0.5);
        --c-green: #005733;
        --c-pale-green: PaleGreen;
        --c-pale-blue: #62cfcf;

        //Color Rules
        --background: var(--c-grey);
        --text-default: var(--c-white);
        --blockquote: var(--c-grey-50);
        --accent: var(--c-grey-50);
        --shadow: rgba(10,10,10,0.2);
        --color-splash: var(--c-yellow);
        --del: var(--c-pale-red);
        --ins: var(--c-pale-green);
        --code: var(--c-pale-blue);
        --dropcap: var(--c-yellow);
        --tldr-text: var(--c-grey);
        --code-bg: var(--shadow);
        --landing-list-heading: var(--c-yellow);
	}
}
@media (prefers-color-scheme: light) {
    :root {
        //Base Colors
        --c-yellow: rgba(255, 204, 51, 0.7);
        --c-grey: rgba(42, 50, 62, 1);
        --c-grey-50: rgba(42, 50, 62, 0.5);
        --c-grey-25: rgba(42, 50, 62, 0.25);
        --c-grey-05: rgba(42, 50, 62, 0.05);
        --c-pale-red: rgba(255, 0, 0, 0.5);
        --c-green: #005733;
        --c-pale-green: PaleGreen;
        --c-pale-blue: #62cfcf;

        //Color Rules
        --background: var(--c-grey-05);
        --text-default: var(--c-grey);
        --blockquote: var(--c-grey-50);
        --accent: var(--c-grey-50);
        --shadow: var(--c-grey-05);
        --color-splash: var(--c-yellow);
        --del: var(--c-pale-red);
        --ins: var(--c-pale-green);
        --code: var(--c-pale-blue);
        --dropcap: var(--text-default);
        --tldr-text: var(--text-default);
        --code-bg: var(--c-grey);
    }
}
:root {
	/*--
	GLOSSARY
	• d = 	default
	• c = 	color
	• f = 	font
	• ms = 	modular scale
	--*/
	color-scheme: light dark;

	--base-font-size: 17px;
    /*
	--copy-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--heading-primary: 'Playfair Display', serif; 
	--sans-serif: 'Raleway', var(--copy-body);
    */
    --sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --heading-primary: 'EB Garamond', var(--sans-serif);
    --copy-body: var(--sans-serif);
	--monospace: Menlo,Roboto Mono, 'Andale Mono WT', "Andale Mono", Consolas, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
 
	//Fonts & Spacing • Golden Section 1.618
	--ms-3:             	0.236rem;
	--ms-2:             	0.382rem;
	--ms-1:             	0.618rem;
	--ms0:              	1rem;
	--ms1:              	1.618rem;
	--ms2:              	2.618rem;
	--ms3:              	4.236rem;
	--ms4:              	6.854rem;
	--ms5:              	11.089rem;

	//Typography
	--ms-dropcap:       	90rem;
	--max-paragraph: 		35rem;

	//Font Displays
	--f-normal:         	400;
	--f-medium:         	400;
	--f-heavy:          	800;
	--f-emphasis:       	italic;

	--image-opacity: 		brightness(.8) contrast(1.2);

	//Borders, Outlines, Radii
	--d-border-thickness:   3px;
	--d-border:         	var(--d-border-thickness) solid var(--color-splash);
	--d-radius:         	var(--ms-1);
	--d-radius-small:   	var(--ms-2);
	--d-radius-tiny:    	var(--ms-3);
}   
@media all and (min-width: 768px) {
	:root {
		--base-font-size: 19px;
	}
}
@mixin custom-underline($color: var(--accent)){
	text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: var(--d-border-thickness);
    text-decoration-color: $color;
}
@mixin custom-underline--hover(){
	text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: var(--d-border-thickness);
    text-decoration-color: var(--color-splash);
}