---
layout: default
---
<article class="article--wrapper">
    <header class='article--header'>
    {% include article-header.html %}
    {% if page.tldr %}
    {% include tldr.html %}   
    {% endif %}
    {% if page.toc %}
    {% include toc.html %}
    {% endif %}   
    </header>
    <div class="article--content">
        {% if page.subtitle %}
        <p class="callout">{{page.subtitle}}</p>
        {% endif %}
        <div class="article--content--body">
        	{{content}}
            {%include circles.html%}
        </div> 

    </div>
</article>