<!DOCTYPE html>
<html lang="en">
<!--
Thanks for having a look. Get in touch, christan.fergUX@gmail.com
-->
{% include head.html %}
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7XW5TT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
	{% unless page.title == "landing" %} 
    <a href="#main-content" class="visually-hidden">Skip navigation</a>
    {% endunless %} 
    {% include header.html %}
    <main id="main-content" tabindex="-1">
        {{ content }}
    </main>
    {% unless page.title == 'landing' %}
    {% include footer.html %}
    {% endunless %}
</body>
</html>