<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% unless page.title == "landing" %}
    <a href="#main-content" class="visually-hidden">Skip navigation</a>
    {% endunless %}
    <main class="main-layout">
        <div class="side-wrap">
        {% include header.html %}
        {% include side-panel.html %}
        </div>
        <div id="main-content" tabindex="-1" class="body-content">
            {{ content }}
        </div>
    </main>
</body>
<script type="text/javascript" src="/assets/js/js.js"></script>
</html>