---
layout: default
---
<article class="article--wrapper">
    <header class='article--header'>
        {% include article-header.html %}
    </header>
    <div class="article--content">
        {% if page.subtitle %}
        <p class="callout">{{page.subtitle}}</p>
        {% endif %}
        {% if page.images %}
        <div class="intro-images">
            {% for image in page.images %}
            <img class="tut--intro-image" src="{{image.url}}" alt="{{image.alt}}">
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {{content}}
</article>