@mixin layout-labels($attr-type: attr(class), $debug-font-size: 1em, $debug-color: black, $debug-bg-color: yellow){
    &:after{
        content: $attr-type;
        font-size: $debug-font-size;
        font-family: serif;
        color: $debug-color;
        padding: 0.25em;
        background-color: $debug-bg-color;
    }
}